<ion-content>
  <ion-card >
    <h3>Let's set up your company profile...</h3>

    <form [formGroup]="partnerForm">


    <ion-list>
      <ion-list-header>
        <ion-label>Company Information</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">Company Name</ion-label>
        <ion-input placeholder="Enter legal name of your company..." formControlName="company_name"></ion-input>
      </ion-item>
      <ion-item *ngIf="isUsa">
        <ion-label position="floating">Company Structure</ion-label>
        <ion-select   [interfaceOptions]="companySelectOptions" okText="SELECT" cancelText="CANCEL" class="select-full-width"
        formControlName="company_structure">
          <ion-select-option value="brown">Sole Proprietorship</ion-select-option>
          <ion-select-option value="blonde">LLC. (Limited Liability Company)</ion-select-option>
          <ion-select-option value="black">Co. (Company)</ion-select-option>
          <ion-select-option value="red">Inc. (Incorporated)</ion-select-option>
          <ion-select-option value="red">Corp. (Corporation)</ion-select-option>
          <ion-select-option value="red">Ltd. (Limited) </ion-select-option>
          <ion-select-option value="red">LP. (Limited Partnership)</ion-select-option>
          <ion-select-option value="red">LLP. (Limited Liability Partnership)</ion-select-option>
          <ion-select-option value="red">P.C. (Professional Corporation)</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Company Registered Address</ion-label>
        <ion-input google-place id="txtHome" type="text" class="google-place-input" (onSelect)='addressChanged($event)' name="testasd"
          placeholder="Enter mailing address of your company..."></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="floating">Suite / Unit Number (Optional)</ion-label>
        <ion-input placeholder="Optional"  formControlName="address_details"> </ion-input>
      </ion-item>
    </ion-list>

    <ion-list class="authorized-list">
      <ion-list-header>
        <ion-label>Authorized Representative</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating" >First Name</ion-label>
        <ion-input placeholder="Enter your first name..." formControlName="first_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input placeholder="Enter your last name..." formControlName="last_name"></ion-input>
      </ion-item>

    </ion-list>
      <!--<ion-segment class="driver-segment" formControlName="is_driver">
       <ion-segment-button value="true">
         <ion-label>I'm a driver</ion-label>
       </ion-segment-button>
       <ion-segment-button value="false">
         <ion-label>I'm NOT a driver</ion-label>
       </ion-segment-button>

      </ion-segment> -->
      <div lines="none" class="terms">

        <div class="secondary-text">
          By proceeding, you agree to drvn's <a (click)="openURL('https://drvn.com/en/terms')">Terms of Use</a> and <a (click)="openURL('https://drvn.com/en/privacy-policy')">Privacy Policy</a>.
        </div>
        <div class="secondary-text">
          By proceeding, I am also consenting to receive calls or SMS messages, including by automatic dialer, from drvn to the number I provide.


        </div>
      </div>
    </form>


  </ion-card>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button class="back" (click)="back()">
        <div class="d-flex a-center">
          <ion-icon name="chevron-back-outline"></ion-icon>
          BACK
        </div>


      </ion-button>
      <ion-button fill="solid" class="next"  color="primary" (click)="nextStep()" [disabled]='partnerForm.invalid'>
        <div class="d-flex a-center">
          <span>NEXT</span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>

      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>
