app-partner-information {



  .driver-segment
  {
    height: 50px;
    margin-top: 24px;

    border: 1px solid white;
    ion-segment-button
    {
      margin: 0px;
      --background-checked: var(--ion-theme-color);
      --color-checked:  white;
      --color: white;
      --indicator-color :  var(--ion-theme-color); /* this solution */
    }
  }

  .terms
  {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    >div
    {
      margin-bottom: 4px;
    }

    ion-checkbox
    {

    margin-right: 12px;
    }
  }


  .success-info {
    .success-text {
      color: var(--ion-theme-color);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1.8rem;
      text-align: center;
      line-height: 24px;
    }

  }
}
