app-partner-information {





  .success-info {
    .success-text {
      color: var(--ion-theme-color);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1.8rem;
      text-align: center;
      line-height: 24px;
    }

  }
}
