<ion-header>
  <ion-toolbar class="contentBgColor">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-container">
    <div class="ion-padding-bottom">
      <img class="logo" src="assets/logos/drvn-logo.png">
      <div class="ion-text-center textColor">
        <h1 class="textBold">Verification code</h1>
        <span>Enter code we've sent on given number</span>
      </div>

      <div class="divOuter marginTop">
        <div class="divInner marginTop">
          <!-- <ion-input  class="partitioned  marginTop" maxlength="4"   ></ion-input> -->
          <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4, allowNumbersOnly: true}"></ng-otp-input>
        </div>
      </div>
    </div>

    <div class="ion-padding-vertical ion-padding-horizontal ion-margin-horizontal ion-margin-vertical" >
      <ion-button color="primary" expand="block" class="btnSubmit textBold" (click)="verification()">Verify Now</ion-button>
    </div>

  </div>

</ion-content>
