<ion-content>
  <ion-card *ngIf="is_driver" >
    <h3>Tell us more about the vehicle you own...</h3>

    <form [formGroup]="vehicleForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Vehicle Class</ion-label>
        <ion-select value="null" okText="SELECT" cancelText="CANCEL" (ionChange)='changeVehicleType($event.detail.value)'>
          <ion-select-option [value]="type.id"   *ngFor="let type of vehicleTypesGroup">{{type.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Make/Model</ion-label>
        <ion-select value="null" okText="SELECT" cancelText="CANCEL" formControlName="make"  (ionChange)='changeModel($event.detail.value)'>
          <ion-select-option [value]="make.name" *ngFor="let make of filteredMakesByType">{{make.name}}</ion-select-option>

        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Vehicle Year</ion-label>
        <ion-select value="null" okText="SELECT" cancelText="CANCEL"  formControlName="year">
          <ion-select-option   [value]="y" *ngFor="let y of years | reverse">{{y}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Exterior Color</ion-label>
        <ion-select value="null" okText="SELECT" cancelText="CANCEL" formControlName="exterior_color_id">
          <ion-select-option *ngFor="let color of vehicleExteriorColors" [value]="color.id">{{color.name}}</ion-select-option>

        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Interior Color</ion-label>
        <ion-select value="null" okText="SELECT" cancelText="CANCEL" formControlName="interior_color_id">
          <ion-select-option *ngFor="let color of vehicleInteriorColors" [value]="color.id">{{color.name}}</ion-select-option>

        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Passenger Capacity</ion-label>
        <ion-select value="null" okText="SELECT" cancelText="CANCEL" formControlName="passenger_count">
          <ng-container *ngFor="let item of [].constructor(this.maxPax); let i = index" >
          <ion-select-option [value]="i + 1" *ngIf="(i+1) >= minPax" >{{i + 1}}  Passenger{{i > 0 ? 's' : ''}}</ion-select-option>
            </ng-container>

        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Luggage Capacity</ion-label>
        <ion-select value="null" okText="SELECT" cancelText="CANCEL" formControlName="luggage_count">
          <ng-container *ngFor="let item of [].constructor(this.maxLug); let i = index" >
            <ion-select-option [value]="i + 1" *ngIf="(i+1) >= 2" >{{i + 1}}  Bag{{i > 0 ? 's' : ''}}</ion-select-option>
          </ng-container>

        </ion-select>
      </ion-item>

    </ion-list>
    <div class="next-text">
      <p class="secondary-text">
        Next, you will be required to upload documents for this vehicle.
      </p>
    </div>
  </form>
  </ion-card>

  <ion-card *ngIf="!is_driver" class="affiliate">
    <h3>Tell us more about the vehicles you own...</h3>
    <ion-list>
      <ion-item>
        <div class='d-flex j-between a-center w-100-p'>
          <div class="vehicle-class-name">
            Executive Sedan
          </div>

          <div class="d-flex a-center increase-container">
            <ion-icon name="remove-circle-outline" (click)="decrease()"></ion-icon>
            <span class="value">
              0
            </span>
            <ion-icon name="add-circle-outline" (click)="increase()"></ion-icon>
          </div>
        </div>

      </ion-item>
      <ion-item>
        <div class='d-flex j-between a-center w-100-p'>
          <div class="vehicle-class-name">
            Executive Sedan
          </div>

          <div class="d-flex a-center increase-container">
            <ion-icon name="remove-circle-outline" (click)="decrease()"></ion-icon>
            <span class="value">
              0
            </span>
            <ion-icon name="add-circle-outline" (click)="increase()"></ion-icon>
          </div>
        </div>

      </ion-item>
      <ion-item>
        <div class='d-flex j-between a-center w-100-p'>
          <div class="vehicle-class-name">
            Executive Suv
          </div>

          <div class="d-flex a-center increase-container">
            <ion-icon name="remove-circle-outline" (click)="decrease()"></ion-icon>
            <span class="value">
              0
            </span>
            <ion-icon name="add-circle-outline" (click)="increase()"></ion-icon>
          </div>
        </div>

      </ion-item>
      <ion-item>
        <div class='d-flex j-between a-center w-100-p'>
          <div class="vehicle-class-name">
            Executive Van
          </div>

          <div class="d-flex a-center increase-container">
            <ion-icon name="remove-circle-outline" (click)="decrease()"></ion-icon>
            <span class="value">
              0
            </span>
            <ion-icon name="add-circle-outline" (click)="increase()"></ion-icon>
          </div>
        </div>

      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button class="back" (click)="back()">
        <div class="d-flex a-center">
          <ion-icon name="chevron-back-outline"></ion-icon>
          BACK
        </div>


      </ion-button>
      <ion-button fill="solid" class="next" color="primary" (click)="nextStep()" [disabled]="vehicleForm.invalid">
        <div class="d-flex a-center">
          <span>NEXT</span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>

      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>
