<ion-content *ngIf="data" >
  <ion-card [formGroup]="servicesForm">
    <h3>Tell us more about your services...</h3>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Metropolitan Service Area</ion-label>
        <ion-input [disabled]="true" value="{{data.market.msa ? data.market.msa.name : ''}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Center of Service Area</ion-label>
        <ion-input [disabled]="true" value="{{loggedInUser.partner.address}}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Airports</ion-label>
        <ion-select value="null" okText="SELECT" formControlName="airports" [interfaceOptions]="airportsSelectOptions"  cancelText="CANCEL" multiple  class="select-full-width" >
          <ion-select-option [value]="airport.id" *ngFor="let airport of data.market.airports" >{{airport.code}} - {{airport.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cruise Ports</ion-label>
        <ion-select value="null" okText="SELECT" formControlName="seaports" [interfaceOptions]="cruisePortsSelectOptions"  cancelText="CANCEL" multiple class="select-full-width" >
          <ion-select-option [value]="seaport.id" *ngFor="let seaport of data.market.seaports" >{{seaport.code}} - {{seaport.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Additional Services (optional)</ion-label>
        <ion-select value="null" okText="SELECT"  formControlName="options" [interfaceOptions]="additionalServicesOption"  cancelText="CANCEL" multiple  >
          <ion-select-option [value]="option.id" *ngFor="let option of data.partnerOptionTypes" >{{option.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

  </ion-card>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>

      <ion-button fill="solid" class="next"  color="primary" (click)="nextStep()" [disabled]="servicesForm.invalid">
        <div class="d-flex a-center">
          <span>NEXT</span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>

      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>
