<div class="rides_details">
  <div class="d-flex item_box hourly-time" *ngIf="ride.service_type.toUpperCase() == 'HOURLY'">
    <ion-icon name="time" class="time-icon"></ion-icon>
    <h6>3 HOURS RIDE</h6>
  </div>
  <div class="d-flex pu item_box">
    <ion-icon name="location"></ion-icon>
    <h6>{{ride.pu_location}}</h6>


  </div>
  <ng-container *ngIf="showStops">
    <ng-container *ngFor="let waypoint of ride.waitsAndStops">
      <div class="d-flex item_box" >
        <ion-icon name="chevron-forward-circle"></ion-icon>
        <div>
          <h6>{{waypoint.RIAddr1}}</h6>
          <div class="route-notes" *ngIf="showNotes">
            {{(waypoint.readMore) ? waypoint.RINotes : waypoint.RINotes | slice:0:200}} <ng-container *ngIf="!waypoint.readMore">...</ng-container>
            <a *ngIf="!waypoint.readMore" class="read-more" (click)="waypoint.readMore = true"> [Read More]</a>
          </div>
        </div>

      </div>

    </ng-container>
  </ng-container>
  <ng-container *ngIf="!showStops && showStopsCount && ride.waitsAndStops.length">
    <div class="d-flex item_box stops-count" >
      <ion-icon name="chevron-forward-circle"></ion-icon>
      <div>
        <h6  class="stops-count">{{ride.waitsAndStops.length}} stop{{ride.waitsAndStops.length > 1 ? 's' : ''}}</h6>

      </div>

    </div>
  </ng-container>


  <div class="d-flex item_box" *ngIf="ride.do_location">
    <ion-icon name="navigate"></ion-icon>
    <h6>{{ride.do_location}}</h6>
  </div>

</div>
