<div class="rides_details">
  <ng-container *ngIf="ride">


    <div class="d-flex item_box hourly-time" *ngIf="ride.service_type.toUpperCase() == 'HOURLY'">
      <ion-icon name="time" class="time-icon"></ion-icon>
      <h6>Est. Duration: 3 Hours</h6>
    </div>
    <div class="d-flex pu item_box">
      <ion-icon name="{{ride.pickUp.LocationType == 'AIR' ? 'airplane' : ride.pickUp.LocationType == 'SEA' ? 'boat' : 'location'}}"></ion-icon>
      <h6>{{ride.pickUp.formatted_address}}</h6>


    </div>
    <ng-container *ngIf="showStops">
      <ng-container *ngFor="let waypoint of ride.waitsAndStops">
        <div class="d-flex item_box">
          <ion-icon name="remove-circle"></ion-icon>
          <div>
            <h6>{{waypoint.formatted_address}}</h6>
            <div class="route-notes" *ngIf="showNotes">
              {{(waypoint.readMore) ? waypoint.RINotes : waypoint.RINotes | slice:0:200}} <ng-container
                *ngIf="!waypoint.readMore">...</ng-container>
              <a *ngIf="!waypoint.readMore" class="read-more" (click)="waypoint.readMore = true"> [Read More]</a>
            </div>
          </div>

        </div>

      </ng-container>
    </ng-container>
    <ng-container *ngIf="!showStops && showStopsCount && ride.waitsAndStops.length">
      <div class="d-flex item_box stops-count">
        <ion-icon name="remove-circle-outline"></ion-icon>
        <div>
          <h6 class="stops-count">{{ride.waitsAndStops.length}} stop{{ride.waitsAndStops.length > 1 ? 's' : ''}}</h6>

        </div>

      </div>
    </ng-container>


    <div class="d-flex item_box" *ngIf="ride.do_location">
      <ion-icon name="{{ride.LocationType == 'AIR' ? 'airplane' : ride.dropOff.LocationType == 'SEA' ? 'boat' : 'navigate'}}"></ion-icon>
      <h6>{{ride.dropOff.formatted_address}}</h6>
    </div>

  </ng-container>
  <ng-container *ngIf="skeleton">
    <div class="d-flex pu item_box">
      <ion-icon name="location"></ion-icon>
      <h6>
        <ion-skeleton-text animated style="width: 200px"></ion-skeleton-text>
      </h6>


    </div>
    <div class="d-flex pu item_box">
      <ion-icon name="location"></ion-icon>
      <h6>
        <ion-skeleton-text animated style="width: 200px"></ion-skeleton-text>
      </h6>


    </div>
  </ng-container>

</div>
