/**
 * Ionic 5 Taxi Booking Complete App (https://store.enappd.com/product/taxi-booking-complete-dashboard)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */


app-send-email {


  .descText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  ion-content {
    --padding-top: 32px;

    ion-list {
      --ion-item-background: var(--ion-theme-background);
      --ion-item-color: white;
    }

    ion-list-header {
      margin-bottom: 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    ion-select
    {
      min-width: 190px;
    }

    ion-item {

      --background: var(--ion-secondary-bg-color);
      --border-color: var(--ion-theme-color);

      &:not(:last-child)
      {
       // border-bottom: 1px solid grey;
      }

      ion-label {
        display: flex !important;
        align-items: center;
        ion-icon {
          margin-right: 24px;
          font-size: 2.5rem;
          color: var(--ion-theme-color);

          &.go-icon
          {
            margin-left: auto;
          }
        }


      }


    }




    .contact-title {
      color: white;
      font-size: 3rem;
      margin-bottom: 4px;

    }

    .contact-subtitle
    {
      font-size: 1.3rem;
      color: #686868;
      margin: 0;
      letter-spacing: 0;
    }
  }
  .send-btn
  {
   margin: 0px;
  }


  .notificationsIcons {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    border: 1px solid #4051ff;
    position: absolute;
    background: #4051ff;
  }

  .notificationText {
    padding-left: 5%;
    // padding: 1% 18%;
  }

  .notificationHeading {
    margin-bottom: 3px;
  }

  .contactIconFontSize {
    font-size: 30px;
  }

}
