<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Send Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">
    <ion-list-header>
      <div class="contact-title">Write us</div>
      <div class="contact-subtitle">
        Describe us your issue
      </div>
    </ion-list-header>
    <form>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select value="reservations" okText="SELECT" cancelText="CANCEL" interface="action-sheet" [(ngModel)]="type" [ngModelOptions]="{standalone: true}"
          name="type">
          <ion-select-option value="billing">Chauffeur Support</ion-select-option>
          <ion-select-option value="operations">Billing Questions</ion-select-option>
          <ion-select-option value="Technical Help">Technical Help</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea placeholder="Enter more information here..." rows="6"  [(ngModel)]="description" [ngModelOptions]="{standalone: true}"> </ion-textarea>
      </ion-item>

    </form>



  </ion-list>

</ion-content>

<ion-footer>
  <ion-button expand="full" fill="solid" size="large" color="primary" class="send-btn" [disabled]="!description">
    SEND EMAIL
  </ion-button>
</ion-footer>
