<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="editProfile()">
      <ion-button>
        <ion-label color="dark" class="ion-text-capitalize">edit</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loggedInUser" class="contentBgColor">
  <div class="profileHeader bgWhite ion-margin-bottom">
    <ion-avatar class="profileImage">
      <img [src]="loggedInUser.profile_img ? loggedInUser.profile_img : 'assets/userDefault.png'" />
    </ion-avatar>
    <h5 class="textBold ion-no-margin">{{loggedInUser.username}}</h5>
  </div>

  <ion-label class="ion-text-uppercase ion-padding-start ion-margin-top" color="medium"> Information</ion-label>
  <ion-list class=" ion-no-margin ion-margin-top">
    <!---Phone Number--->
    <ion-item lines="full" class="detailsItems">
      <h6 slot="start" class="ion-no-margin">Full Name</h6>
      <ion-text color="medium" slot="end">{{loggedInUser.name}}</ion-text>
    </ion-item>

    <ion-item lines="full" class="detailsItems">
      <h6 slot="start" class="ion-no-margin">Phone Number</h6>
      <ion-text color="medium" slot="end">{{loggedInUser.phone}}</ion-text>
    </ion-item>

    <ion-item lines="full" class="detailsItems">
      <h6 slot="start" class="ion-no-margin">Email</h6>
      <ion-text color="medium" slot="end">{{loggedInUser.email}}</ion-text>
    </ion-item>

    <ion-item lines="full" class="detailsItems">
      <h6 slot="start" class="ion-no-margin">Gender</h6>
      <ion-text color="medium" slot="end">{{loggedInUser.gender}}</ion-text>
    </ion-item>

    <ion-item lines="none" class="detailsItems">
      <h6 slot="start" class="ion-no-margin">Birthday</h6>
      <ion-text color="medium" slot="end">{{loggedInUser.dob}}</ion-text>
    </ion-item>

  </ion-list>

</ion-content>