:host {
  .list {
    background: var(--ion-theme-background);
    padding-top: 4px;

    h2 {
      margin: 0;
      font-size: 1.3rem;
      color: var(--ion-theme-info-color);
      font-weight: 400;
      padding: 10px 24px;
      padding-bottom: 20px;
    }

    -ion-content {
      --background: black;
    }

    ion-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
      //  background: darken($item_bg, 10%);

      --background: var(--ion-theme-background);
      margin: 0 auto;

      margin-bottom: 16px;
      box-shadow: #656565 0px 0px 2px;
      .item_header {

        padding: 12px 20px;
        background: var(--ion-secondary-bg-color);

        .img_box {
          min-width: 41px;
          max-width: 41px;
          height: 41px;
          border-radius: 7px;
          margin-right: 13px;
        }

        .profile_details {
          width: 100%;

          h3 {
            margin: 0;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: .7px;
            margin-bottom: 5px;
            color: white;

            &.active

            {
              color: green;
            }

            .end {
              color: var(--ion-theme-color);
              font-weight: 400;
              font-size: 1.6rem;
            }
          }

          h4 {
            color: var(--ion-theme-info-color);
            font-weight: 500;
            font-size: 1.2rem;
          }
        }
      }





    }

  }

  ion-skeleton-text {
    --background-rgb: 255, 255, 255;
  }

  routing-details {
    border: 2px solid #1c1c1c;
  }

  .tab-title {
    letter-spacing: 2px;
    color: white;
    padding-left: 12px;
    font-size: 2rem;
    margin: 30px 0px 12px;

    &.active
    {
      color: var(--ion-theme-color);
      font-weight: bold;
    }
  }

  .rides-count {
    color: var(--ion-theme-color);
  }

  .empty-text-container {
    color: white;
    text-align: center;
    font-size: 2rem;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
