app-payment-information {
  .finish-card
  {
    text-align: center;
  }
  .payment-terms
  {
    .value
    {
      color: var(--ion-theme-color);
      font-weight: bold;
    }
  }

  .success-text
  {
    color: var(--ion-theme-color);
  }

  .payment-info
  {
    --border-color: transparent;
    padding-top: 12px;
    font-size: 1.4rem;
    color: grey;
  }


  .footer-text
  {
    font-size: 1.2rem;
    margin-top: 24px;
  }
  .quote
  {
    text-align: center;
  }

}
