<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contentBgColor" *ngIf="loggedInUser.id">
  <ion-item lines="none" class="ion-padding-vertical" (click)="goToProfile()">
    <ion-avatar slot="start" class="profile">
      <img [src]="storageUrl + loggedInUser.avatar_url">
    </ion-avatar>
    <div class="ion-margin-start">
      <h4 class="textBold ion-no-margin" >{{loggedInUser.first_name}}  {{loggedInUser.last_name}}</h4>

    </div>
    <img src="assets/arrow-point-to-right.png" slot="end" class="rightArrow">
  </ion-item>

  <ion-list class="ion-no-margin">
    <ion-item *ngFor=" let doc of driverDocuments" (click)="documentPage(doc.page)">
      <ion-icon name="{{doc.icon}}" slot="start" *ngIf="!doc.image" class="docIcon"
        [ngStyle]="{'background':doc.background}"></ion-icon>
      <img [src]="doc.image" alt="" slot="start" class="imageIcon docIcon" *ngIf="!doc.icon"
        [ngStyle]="{'background':doc.background}">
      {{doc.title}}
      <img src="assets/arrow-point-to-right.png" slot="end" class="rightArrow">
    </ion-item>

  </ion-list>

  <ion-list class="ion-margin-vertical">
    <ion-item *ngFor=" let otherDoc of otherDetails" (click)="otherPage(otherDoc.page)">
      <ion-icon name="{{otherDoc.icon}}" slot="start" *ngIf="!otherDoc.image" class="docIcon"
        [ngStyle]="{'background':otherDoc.background}"></ion-icon>
      <img [src]="otherDoc.image" alt="" slot="start" class="imageIcon docIcon" *ngIf="!otherDoc.icon"
        [ngStyle]="{'background':otherDoc.background}">
      {{otherDoc.title}}
      <img src="assets/arrow-point-to-right.png" slot="end" class="rightArrow">
    </ion-item>
  </ion-list>
</ion-content>
