:host {
  ion-content
  {
    --color: white;
    .content
    {
      --color: white;
      font-size: 1.6rem;
      padding: 24px 12px;
      text-align: justify;
      h1,h2,h3
      {
        color: var(--ion-theme-color);
        text-align: left;
      }
    }
  }
}
