<ion-content>
  <ion-card>
    <h3>We almost done, but we need some documents...</h3>

    <ion-list lines='none'>
      <ion-list-header>
        <ion-label>  Company Documents</ion-label>

      </ion-list-header>
      <ng-container *ngFor="let doc of docs" >
        <ion-item *ngIf="doc.partner_document_type.type == 1" >
          <document-item  [document]="doc" (onDocumentStatusChanged)="documentStatusChanged($event)"></document-item>
        </ion-item>
      </ng-container>



    </ion-list>
    <ion-list lines='none' *ngIf="is_driver">
      <ion-list-header>
        <ion-label>  Driver Documents</ion-label>
      </ion-list-header>
      <ng-container *ngFor="let doc of docs" >
        <ion-item *ngIf="doc.partner_document_type.type == 2" >
          <document-item  [document]="doc" (onDocumentStatusChanged)="documentStatusChanged($event)"></document-item>
        </ion-item>
      </ng-container>


    </ion-list>
    <ion-list lines='none' *ngIf="is_driver">
      <ion-list-header>
        Vehicle Documents
      </ion-list-header>
      <ng-container *ngFor="let doc of docs" >
        <ion-item  *ngIf="doc.partner_document_type.type == 3" >
          <document-item [document]="doc" (onDocumentStatusChanged)="documentStatusChanged($event)"></document-item>
        </ion-item>
      </ng-container>



    </ion-list>
  </ion-card>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button class="back" (click)="back()">
        <div class="d-flex a-center">
          <ion-icon name="chevron-back-outline"></ion-icon>
          BACK
        </div>


      </ion-button>
      <ion-button fill="solid" class="next" color="primary" (click)="nextStep()" [disabled]="disableButton">
        <div class="d-flex a-center">
          <span>NEXT</span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>

      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>
