<ion-content>
  <ion-card>
    <h3>Almost there, lets get you and your company verified...</h3>
    <div class="secondary-text">
      Here is a list of preliminary uploads and questions we need at the moment to verify you as a partner.
    </div>
    <ion-list lines='none' *ngIf="is_driver">
      <ion-list-header>
        <ion-label>Driver</ion-label>
      </ion-list-header>
      <ng-container *ngFor="let doc of docsTypes" >
        <ion-item *ngIf="doc.type == 2" >
          <document-item  [documentType]="doc" (onDocumentStatusChanged)="documentStatusChanged($event)"></document-item>
        </ion-item>
      </ng-container>


    </ion-list>


    <ion-list lines='none' *ngIf="is_driver">
      <ion-list-header>
        Vehicle
      </ion-list-header>
      <ng-container *ngFor="let doc of docsTypes" >
        <ion-item  *ngIf="doc.type == 3" >
          <document-item [documentType]="doc" (onDocumentStatusChanged)="documentStatusChanged($event)"></document-item>
        </ion-item>
      </ng-container>



    </ion-list>
    <ion-list lines='none'>
      <ion-list-header>
        <ion-label>Company</ion-label>

      </ion-list-header>
      <ng-container *ngFor="let doc of docsTypes" >
        <ion-item *ngIf="doc.type == 1" >
          <document-item  [documentType]="doc" (onDocumentStatusChanged)="documentStatusChanged($event)"></document-item>
        </ion-item>
      </ng-container>



    </ion-list>
    <div class="secondary-text end-text">
      Need more time? <br>
      No worries, you can always log in with your mobile number at a later time to finalize your registration.
    </div>
  </ion-card>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button class="back" (click)="back()">
        <div class="d-flex a-center">
          <ion-icon name="chevron-back-outline"></ion-icon>
          BACK
        </div>


      </ion-button>
      <ion-button fill="solid" class="next" color="primary" (click)="nextStep()" [disabled]="disableButton">
        <div class="d-flex a-center">
          <span>NEXT</span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>

      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>
