<ion-content>
  <ion-card>
    <h3>Almost there, lets get you and your company verified...</h3>
    <div class="secondary-text">
      Here is a list of preliminary uploads and questions we need at the moment to verify you as a partner.
    </div>
    <ng-container *ngIf="is_driver">
      <ng-container *ngTemplateOutlet="docsList; context: {docs: driverDocs, header:'Driver'}"></ng-container>
      <ng-container *ngTemplateOutlet="docsList; context: {docs: vehicleDocs, header:'Vehicle'}"></ng-container>
    </ng-container>
    <ng-container *ngTemplateOutlet="docsList; context: {docs: partnerDocs, header:'Company'}"></ng-container>


    <div class="secondary-text end-text">
      Need more time? <br>
      No worries, you can always log in with your mobile number at a later time to finalize your registration.
    </div>
  </ion-card>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button class="back" (click)="back()">
        <div class="d-flex a-center">
          <ion-icon name="chevron-back-outline"></ion-icon>
          BACK
        </div>


      </ion-button>
      <ion-button fill="solid" class="next" color="primary" (click)="nextStep()" [disabled]="disableButton">
        <div class="d-flex a-center">
          <span>NEXT</span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>

      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>


<ng-template #docsList let-docs="docs" let-header="header">
  <ion-list lines='none' *ngIf="docs.length">
    <ion-list-header>
      <ion-label>{{header}}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let doc of docs">
      <document-item [documentType]="doc" (onDocumentStatusChanged)="documentStatusChanged($event)"></document-item>
    </ion-item>
  </ion-list>

</ng-template>
