<div class='file-uploader' (click)="presentActionSheet()" [ngClass]="{'submitted': submitted}">
  <div class="name">
      Driver License
  </div>
  <div class="status">
    <ion-icon src="assets/custom-ion-icons/file_upload.svg" *ngIf="!uploading && !submitted"></ion-icon>
    <img src="assets/utils/loading.gif" class="loading-gif" *ngIf="uploading">
    <ion-icon name="checkmark-circle-outline" class="submitted-icon" *ngIf="submitted"></ion-icon>
    
  </div>
  
</div>
<input style="display: none" type="file" (change)="uploadFile($event)" #fileInput />