.document-sheet {
  ion-icon {
    margin-right: 12px !important;
  }

  .action-sheet-title {
    background: var(--ion-theme-color);
    color: black;
    text-align: center;
  }

  .action-sheet-group {
    background: var(--ion-secondary-bg-color);
    padding-top: 0px !important;
  }

  .action-sheet-button {
    color: var(--ion-theme-color) !important;

    ion-icon {
      color: var(--ion-theme-color) !important;
    }
  }

}

document-item {
  width: 100%;
  .name
  {
    font-size: 1.4rem;
    margin-right: 18px;
  }


  .file-uploader {

    height: 80px;
    border: 1px solid grey;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    color: var(--ion-theme-info-color);

    ion-icon {
      font-size: 3rem;
      color: white;
    }



    .submitted-icon {
      color: var(--ion-theme-color);
      width: 40px;
      height: 40px;
    }

    .loading-gif {
      min-width: 30px;
      width: 30px;
    }



  }

  ion-segment {
    border: 1px solid grey;
    max-width: 80px;
    height: 40px;
    ion-segment-button {
      min-width: 30px;
      color: white;
      --indicator-color: var(--ion-theme-color);
    }
  }
}
