<ion-content>
  <div  class="loginContent ion-padding">
    <img class="logo" src="assets/logos/drvn-logo.png">
    <ion-card   class="loginCard ion-no-margin ion-margin-top ">
      <ion-card-content   class="ion-padding-top ion-no-padding ">
        <ion-list>
          <ion-item lines="none">
            <input appIntegerInput type="tel" [mask]='mobile_mask' class="placeholder-text inputField ion-padding-start"  (input)="onMobileChange($event.target.value)"
            placeholder="Enter Mobile Number"  [(ngModel)]="phone">

          </ion-item>

          <div class="ion-padding-vertical ion-padding-horizontal" >
            <ion-button color="primary" expand="block" [disabled]="disabled" class="btnSubmit" (click)="login()">SIGN IN
              <span *ngIf="spinner">
                <ion-spinner name="lines"></ion-spinner>
              </span>
            </ion-button>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <div class="ion-padding-vertical ion-padding-horizontal ion-margin-horizontal ion-margin-vertical register-link" >
      <span (click)="goToRegister()">Register</span>
   </div>
  </div>
</ion-content>
