<ion-content>
  <div  class="loginContent ion-padding">
    <img class="logo" src="assets/logos/drvn-logo.png">
    <ion-card   class="loginCard ion-no-margin ion-margin-top ">
      <ion-card-content   class="ion-padding-top ion-no-padding ">
        <ion-list>
          <ion-item lines="none">
            <ion-input appIntegerInput class="placeholder-text inputField ion-padding-start" type="tel" placeholder="Enter mobile phone number" [(ngModel)]="phone"
               clearInput></ion-input>
          </ion-item>

          <div class="ion-padding-vertical ion-padding-horizontal" >
            <ion-button color="primary" expand="block" [disabled]="disabled" class="btnSubmit" (click)="login()">SIGN IN
              <span *ngIf="spinner">
                <ion-spinner name="lines"></ion-spinner>
              </span>
            </ion-button>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
