.pricing-details-popover {
  --background: black !important;
  color: white;

  .ride-pricing-popover {
    padding: 12px
  }

}

ride-detail {
  background: black;

  ion-content {
    --background: var(--ion-secondary-bg-color);
  }

  .ride-info {
    --ion-item-background: var(--ion-secondary-bg-color);
    padding-top: 12px;

    ion-item {

      --color: white;
      --border-color: #a8875e14;
      font-size: 1.6rem;
    }

    ion-label:not(.detail-title) {
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 4px !important;
      font-size: 1.6rem !important;
      color: var(--ion-theme-color-lighter) !important;
    }


    ion-icon {
      color: var(--ion-theme-color);
      margin-right: 8px;
      font-size: 18px;
    }

    .content {
      padding-left: 12px;
      display: flex;
      margin: 12px 0px;



      .pax-count {
        margin-right: 8px;
        display: flex;
        align-items: center;
      }

      .pax-info
      {
        margin-bottom: 8px;
        align-items: center;
        display: flex;
      }

      .pax-lug.secondary
      {
        color: var(--ion-theme-info-color);
      }

      .sub-content {
        display: flex;
        margin-right: 8px;
        align-items: center;
      }

      &.notes {
        display: inline-block;
        font-size: 1.4rem;

        .read-more {
          font-size: 1.2rem;
        }
      }

    }

    .routing-title {
      display: flex;

      .view-map-span {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 1.2rem;
        padding: 4px 12px;
        border-radius: 4px;
        ion-icon {
          color: black;
          font-size: 1.4rem;
        }
      }
    }

    .requirements-list {
      padding-inline-start: 12px;
      margin-block-start: 4px;
      flex-direction: column;
      list-style: none;

      ion-icon {
        position: relative;
        top: 4px;
      }

      li {
        margin-top: 4px;
      }

      .child-seat-types {
        margin-top: 6px;
        font-size: 1.2rem;
        color: grey;
      }
    }

    .rides_details {
      padding-left: 4px !important;
      margin-bottom: 4px;
    }


    .pricing-section {

      ion-item {
        width: 100%;
        color: var(--ion-theme-info-color);
        font-size: 1.4rem;
        --border-width: 0px;
        height: 30px;
      }

      .ride-total {
        color: white !important;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 12px;
      }
    }

  }

  ion-skeleton-text {
    --background-rgb: 255, 255, 255;
  }


  ion-footer {
    padding: 0px;
    background: black;
    border-top: 1px solid var(--ion-theme-color);

    ion-toolbar {
      --background: black;
    }

    ion-buttons {


      ion-button {
        height: 40px !important;
        display: flex;
        color: white;

        &.reject-btn {
          --border-radius: 50%;
          width: 40px;
          --background: red !important;
          margin-right: 12px;
        }

        &.accept-btn {
          flex-grow: 1;
          --background: var(--ion-theme-color) !important;
        }
      }
    }

    .settle-footer {
      min-height: 90px;

      padding: 12px;
      transition: .7s ease all;




      .settle-list {
        --background: black;
        --ion-item-background: black;
        --ion-item-color: white;
        height: 100%;
        max-height: 0px;
        transition: all 1s ease;
        &.active {
           max-height: 190px;

          margin-bottom: 12px;
        }

        ion-input {
          max-width: 60px;
        }

        .value {
          width: 20px;
          text-align: center;
        }

        .increase-container {
          ion-icon {
            color: var(--ion-theme-color);
            font-size: 2rem;
            margin: 0px 4px;
          }
        }
      }

      .settle-text {
        color: var(--ion-theme-info-color);
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 8px;
      }

    }


    .offer-footer {

      padding: 12px;
      max-height: 110px;
      transition: all .5s ease;

      .offer-price {
        color: white;
        font-size: 2.5rem;
        margin: 0 auto;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
        ion-icon {
          font-size: 2.5rem;
          margin-left: 4px;
        }
      }


      .expand-icon {
        transition: all .5s ease;
      }

      &.active {
        max-height: 500px;

        .expand-icon {
          transform: rotate(180deg);
        }
      }

      .pricing-details-list {
        --ion-item-background: black !important;
        --ion-item-color: white !important;


        ion-list-header {
          min-height: 20px;
          margin-top: 20px;

          .list-title {
            margin-top: 12px;
            color: white;
            font-size: 1.6rem;
          }
        }


        .detail {
          --color: grey;
          font-size: 1.4rem;
          height: 30px;
        }
      }
    }

    .active-ride-footer {
      transition: 1s ease all;
      --padding-start: 0px;
      --padding-end: 0px;
      --padding-top: 0px;
      --padding-end: 0px;


      .map-buttons-container
      {

        height: 100%;
        max-height: 100px;
        transition: 1s ease all;


        ion-buttons {
          display: flex;
          align-items: center;
          position: absolute;
          bottom: 20px;
          width: 100%;
          padding: 12px;

          button {
            box-shadow: 0 5px 5px -5px black;
            color: white;
            font-size: 1.4rem;
            border-radius: 4px;
            border: 1px solid grey;
            &.call {
              margin-left: auto;

              width: 50px;
              height: 40px;
              background: var(--ion-theme-color);

              ion-icon {
                font-size: 24px;
              }
            }

            &.update-status {
              position: relative;
              height: 40px;
              width: 100%;
              margin-left: 48px;
            }
          }

        }

        #map {
          width: 100%;
          height: 300px;
          top: 0px;
          transition: transform 1s ease;


        }

        &.active
        {
          max-height: 300px;

        }
      }



    }

  }

  .expand-map-badget-container
  {
    width: 50px;
    height: 50px;
    left: 50%;
    bottom: 100px;
    z-index: 100000;
    background: transparent;
    transition: 1s ease all;
    display: flex;
    transform: translate3d(0,0,0)  translateX(-50%);
    position: fixed;
    position: -webkit-sticky;
    align-items: flex-end;
    justify-content: center;
    .expand-map-badget
    {

      height: 30px;
      border-radius: 20px 20px 0px 0px;
      width: 35px;
      display: flex;
      justify-content: center;
      opacity: 0.95;
      align-items: center;
      background-color: var(--ion-theme-color);
      color: white;
      border: 1px solid var(--ion-theme-color);
      border-bottom: none;
      ion-icon
      {
        font-size: 1.5rem;
        transition: 1s ease all;
        &.active {
          transform: rotate(180deg);
        }

      }


    }
    &.active{
      bottom: 300px;
    }
  }


      ion-fab
      {
        transform: translateY(-22px);
        ion-fab-button
        {
          --color: white;
          --background: var(--ion-theme-color);
        }
        > ion-fab-button
        {
          height: 40px;
          width: 40px;
          --border-radius: 4px;
        }
        ion-fab-list
        {
          ion-fab-button
          {

            border: 1px solid var(--ion-theme-color);
            width: 175px;
            border-radius: 4px;
            --border-radius: 4px;
            --ion-color-base:var(--ion-theme-color) !important;
            .text-container
            {
              width: 100%;
              text-align: left;
              display: flex;
              align-items: center;
              padding-left: 12px;
            }

            ion-icon
            {
              font-size: 2rem;
              margin-right: 12px;
            }
          }
        }
      }


}
