<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ng-container *ngIf="!isRideActive">
        RIDE     {{ride ?  ride.is_done ? 'COMPLETED' : ride.is_offer ? 'OFFER' : 'ACCEPTED' : ''}}
      </ng-container>
      <ng-container *ngIf="isRideActive">
        ACTIVE RIDE
      </ng-container>
      #{{ride_id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color" (click)="closeFooters()">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list class="ride-info" lines="full" *ngIf="ride">
    <ion-item>
      <ion-label position="stacked">
        Pick-up Date
      </ion-label>
      <div class="content">
        <div class="d-flex column">
          <div>
            <ion-icon name="calendar"></ion-icon>
            {{ride.pu_datetime | niceDateFormatPipe }}
          </div>
          <div class="spot-time a-center d-flex">
            Spot time at 11:30PM

          </div>

        </div>

      </div>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        {{isRideActive ? 'Passenger Information' : 'Pax Count / Luggage Count'}}
      </ion-label>
      <div class="content">
        <div class="d-flex column">
          <div  class="pax-info d-flex">
            <div class="sub-content" *ngIf="isRideActive">
              <ion-icon name="person" class="icon drvn-icon"></ion-icon>
              {{ride.passenger_name}} <ng-container *ngIf="ride.passenger_count > 1"> (+ {{ride.passenger_count - 1}})</ng-container>
            </div>
            <div class="sub-content" *ngIf="!isRideActive">
              <ion-icon name="people" class="icon drvn-icon"></ion-icon> {{ride.passenger_count}}
              Passenger{{ride.passenger_count > 1 ? 's' : ''}}

            </div>
            <div class="sub-content">
              <ion-icon src="assets/custom-ion-icons/luggage.svg" class="icon drvn-icon" color="primary"></ion-icon>
              {{ride.luggage_count}}
              Bag{{ride.luggage_count > 1 ? 's' : ''}}
            </div>
          </div>

        </div>


      </div>

    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Service Type / Vehicle Type
      </ion-label>
      <div class="content">
        <div class="sub-content">
          <ion-icon name="information-circle"></ion-icon>
          {{ride.service_type}}
        </div>
        <div class="sub-content">
          <ion-icon name="car"></ion-icon>
          {{ride.vehicle_type}}
        </div>
      </div>

    </ion-item>

    <ion-item *ngIf="ride.handicap || ride.child_seats.length">
      <ion-label position="stacked">
        Special Requirements
      </ion-label>
      <ul class="requirements-list content">
        <li *ngIf="ride.handicap == 1">
          <ion-icon src="assets/custom-ion-icons/accessible.svg"></ion-icon> Handicap
        </li>
        <li *ngIf="ride.child_seats.length">
          <div>
            <ion-icon src="assets/custom-ion-icons/care.svg"></ion-icon> Child seat Required
            <ul class="child-seat-types">
              <li *ngFor="let childSeat of ride.child_seats">
                {{ childSeat.count + 'x ' + childSeat.type }}
              </li>
            </ul>
          </div>

        </li>

      </ul>


    </ion-item>
     <ion-item *ngIf="ride.notes">
      <ion-label position="stacked">
        Trip Notes
      </ion-label>
      <div class="content notes">
        {{ride.notes}}
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="routing-title">
        <span>
          Routing Information</span>

        <ion-badge color="primary" slot="end" class="view-map-span" (click)="openRoutingMap($event)" >
          <ion-icon name="map-outline"></ion-icon>
          VIEW MAP
        </ion-badge>
      </ion-label>
      <routing-details [ride]="ride" [showNotes]="true"></routing-details>

    </ion-item>

    <ion-item *ngIf="ride.is_done">
      <ion-label position="stacked">
        Timeline
      </ion-label>
      <events-timeline [ride]="ride"></events-timeline>

    </ion-item>
    <ion-item *ngIf="ride.is_done" class="pricing-section">
      <ion-label position="stacked">
        PRICING INFORMATION
      </ion-label>
      <ng-container *ngTemplateOutlet="costsList; context: {ride: ride}"></ng-container>
      <ion-item class="detail ride-total">
        <ion-label class="detail-title">Your ride total</ion-label>
        <span class="value" slot="end">{{ride.cost_total | currency}}</span>
      </ion-item>

    </ion-item>
  </ion-list>


  <ion-list class="ride-info eskeleton" lines="full" *ngIf="!ride">
    <ion-item>
      <ion-label position="stacked">
        Pick-up Date
      </ion-label>
      <div class="content">
        <ion-icon name="calendar"></ion-icon>
        <ion-skeleton-text animated style="width: 150px"> </ion-skeleton-text>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Passenger Information
      </ion-label>
      <div class="content">
        <div class="d-flex column">
          <ion-skeleton-text animated style="width: 130px"> </ion-skeleton-text>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Service Type / Vehicle Type
      </ion-label>
      <div class="content">
        <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80px; margin-left: 24px;"></ion-skeleton-text>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Special Requirements
      </ion-label>
      <ul class="requirements-list content">
        <li>
          <ion-skeleton-text animated style="width: 100px"></ion-skeleton-text>
        </li>
        <li>
          <ion-skeleton-text animated style="width: 100px"></ion-skeleton-text>
        </li>
      </ul>


    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="routing-title">
        <span>
          Routing Information</span>
      </ion-label>
      <routing-details [skeleton]="true"></routing-details>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Notes
      </ion-label>
      <div class="content notes">

        <ion-skeleton-text animated style="width: 100px"></ion-skeleton-text>
      </div>
    </ion-item>

  </ion-list>


</ion-content>

<!--<div class="expand-map-badget-container" [ngClass]="{'active': showingMap, 'showingCounter': showTimeCounter}"
  *ngIf="isRideActive" (click)="expandMap($event)">
  <div class="expand-map-badget">
    <ion-icon name="arrow-up-circle-outline" [ngClass]="{'active': showingMap}"></ion-icon>
  </div>

</div>
-->
<ion-fab class="options-menu" *ngIf="isRideActive">
  <ion-fab-button>
    <ion-icon name="ellipsis-vertical"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="callSuport()">
      <div class="text-container">
        <ion-icon src="assets/custom-ion-icons/drvn2.svg" class="icon drvn-icon" color="primary"></ion-icon>
        CALL DRVN
      </div>

    </ion-fab-button>
    <ion-fab-button (click)="sendSMS()">

      <div class="text-container">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        TEXT PASSENGER
      </div>

    </ion-fab-button>
    <ion-fab-button (click)="callPassenger()">

      <div class="text-container">
        <ion-icon name="call-outline"></ion-icon>
        CALL PASSENGER
      </div>

    </ion-fab-button>

    <ion-fab-button class="counter-btn counter " *ngIf="showTimeCounter" >
      <div class="d-flex column button draw"  [style.backgroundPosition]="'-' + gracePeriodPercentage + 'px'" [ngClass]="{'starting-wt-time': !isOnGracePeriod}">
        <ng-container *ngIf="isOnGracePeriod || (!isOnGracePeriod && storageInfo.waitStartedDate)">
          {{minutesSinceOnLocation}} : {{secondsSinceOnLocation}}
          <span class="subtitle">
            {{isOnGracePeriod ? 'GRACE PERIOD' : 'WAITING TIME'}}
          </span>
        </ng-container>
        <div *ngIf="!isOnGracePeriod && !storageInfo.waitStartedDate" class="start-wt-btn" (click)="startWTTime()">
          START WAIT TIME
        </div>

      </div>
    </ion-fab-button>
    <ion-fab-button (click)="requestConfirmStop()" *ngIf="ride.next_status_code == 'DON' && !storageInfo.confirmedStop">

      <div class="text-container">
        <ion-icon name="remove-circle-outline"></ion-icon>
        {{storageInfo.requestedStop ? 'CONFIRM STOP' : 'REQUEST STOP'}}
      </div>

    </ion-fab-button>
    <ion-fab-button *ngIf="ride.greeting_sign" (click)="goToGreetingSign()">

      <div class="text-container">
        <ion-icon src="assets/custom-ion-icons/subtitles.svg" class="icon drvn-icon"></ion-icon>
          GREETING SIGN
      </div>

    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-footer>
  <ng-container *ngIf="ride">
    <ion-toolbar *ngIf="ride.is_offer && !isRideActive" class="offer-footer" [ngClass]="{'active': showingPricing}">

      <ion-buttons>
        <ng-container>
          <ion-button fill="solid" class="reject-btn" (click)="rejectRide()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
          <ion-button fill="solid" class="accept-btn" (click)="acceptRide()">
            ACCEPT RIDE
          </ion-button>
        </ng-container>

      </ion-buttons>
      <ion-text class="offer-price">
        {{ride.cost_total | currency}} <ion-icon name="chevron-down-circle-outline" class="expand-icon"
          (click)="showingPricing = !showingPricing">
        </ion-icon>
      </ion-text>
      <ion-list class="pricing-details-list">
        <ion-list-header>
          <ion-label class="list-title">
            Price Details:
          </ion-label>
        </ion-list-header>
        <ng-container *ngTemplateOutlet="costsList; context: {ride: ride}"></ng-container>

      </ion-list>
    </ion-toolbar>
    <ion-toolbar *ngIf="ride.is_done && !isRideActive" class="settle-footer">
      <div class="settle-text" *ngIf="ride.is_done">
        You have 30 min left to settle this ride.
      </div>
      <ion-list lines="full" class="settle-list" [formGroup]="settleForm" *ngIf="settleForm"
        [ngClass]="{'active': settlingRide}">
        <ion-item>
          <ion-label>Tolls</ion-label>
          <ion-input type="number" formControlName="tolls" placeholder="$0.00" slot="end"></ion-input>

        </ion-item>
        <ion-item>
          <ion-label>Parking</ion-label>
          <ion-input type="number" formControlName="parking" placeholder="$0.00" slot="end"></ion-input>

        </ion-item>
        <ion-item>
          <ion-label>Additional Stops</ion-label>
          <span class="value">{{ride.costs.reported_stops}}</span>

        </ion-item>
        <ion-item  *ngIf="ride.service_type != 'Hourly'">
          <ion-label>Waiting time</ion-label>
          <span class="value">{{ride.costs.reported_waiting}} mins</span>

        </ion-item>


      </ion-list>
      <ion-buttons>

        <ion-button fill="solid" class="accept-btn" (click)="settlingRide = true" *ngIf="!settlingRide">
          SETTLE RIDE
        </ion-button>
        <ion-button fill="solid" class="accept-btn" (click)="setSettle()" *ngIf="settlingRide">
          CONFIRM SETTLE
        </ion-button>
      </ion-buttons>


    </ion-toolbar>
    <ion-toolbar *ngIf="isRideActive" class="active-ride-footer" [ngClass]="{'loading': !isMapLoaded}">
      <div class="map-buttons-container" [ngClass]="{'active': showingMap, 'showingCounter': showTimeCounter}">

        <div class="absolute-container">

          <ion-buttons>

            <button ion-button class="update-status" [style.background]="ride.next_status_button_color"
              (click)="changeStatus()">
              {{ride.next_status_button_text}}
            </button>



          </ion-buttons>
        </div>


        <ion-skeleton-text animated style="width: 100%; height: 103px; margin: 0px"
          *ngIf="!isMapLoaded && isRideActive"></ion-skeleton-text>
        <app-ride-map [actualRide]="ride" (mapLoaded)="isMapLoaded = true;"></app-ride-map>

      </div>

    </ion-toolbar>
  </ng-container>
</ion-footer>


<ng-template #costsList let-ride="ride">
  <ion-item *ngIf="ride.costs['rate']" class="detail">
    <ion-label class="detail-title">Base Rate</ion-label>
    <span class="value" slot="end">{{ride.costs['rate'] | currency}}</span>
  </ion-item>
  <ion-item *ngIf="ride.costs['additional_hour_qty'] > 0" class="detail">
    <ion-label class="detail-title">Add. Hour ({{ride.costs['additional_hour_qty']}} x
      {{ride.costs['additional_hour']}}) </ion-label>
    <span class="value"
      slot="end">{{(ride.costs['additional_hour_qty'] * ride.costs['additional_hour']) | currency}}</span>
  </ion-item>
  <ion-item *ngIf="ride.costs['stops_qty'] > 0" class="detail">
    <ion-label class="detail-title">Add. Stops ({{ride.costs['stops_qty']}} x
      {{ride.costs['stops']}}) </ion-label>
    <span class="value"
      slot="end">{{(ride.costs['stops_qty'] * ride.costs['stops']) | currency}}</span>
  </ion-item>
  <ion-item *ngIf="ride.costs['child_seat_qty'] > 0" class="detail">
    <ion-label class="detail-title">Child Seat ({{ride.costs['child_seat_qty']}} x {{ride.costs['child_seat']}})
    </ion-label>
    <span class="value" slot="end">{{(ride.costs['child_seat_qty'] * ride.costs['child_seat']) | currency}}</span>
  </ion-item>
  <ion-item *ngIf="ride.costs['admin_fee']  > 0" class="detail">
    <ion-label class="detail-title">Admin Fee</ion-label>
    <span class="value" slot="end">{{ride.costs['admin_fee'] | currency}}</span>
  </ion-item>
  <ion-item *ngIf="ride.costs['airport_fee']  > 0" class="detail">
    <ion-label class="detail-title">Airporte Fee</ion-label>
    <span class="value" slot="end">{{ride.costs['airport_fee'] | currency}}</span>
  </ion-item>
  <ion-item *ngIf="ride.costs['cruise_port_fee']  > 0" class="detail">
    <ion-label class="detail-title">Cruiseport Fee</ion-label>
    <span class="value" slot="end">{{ride.costs['cruise_port_fee'] | currency}}</span>
  </ion-item>
  <ion-item *ngIf="ride.costs['gratuity']  > 0" class="detail">
    <ion-label class="detail-title">Gratuity</ion-label>
    <span class="value" slot="end">{{ride.costs['gratuity'] | currency}}</span>
  </ion-item>
  <ion-item *ngIf="ride.costs['tolls']  > 0" class="detail">
    <ion-label class="detail-title">Tolls</ion-label>
    <span class="value" slot="end">{{ride.costs['tolls'] | currency}}</span>
  </ion-item>
  <ion-item *ngIf="ride.costs['parking']  > 0" class="detail">
    <ion-label class="detail-title">Parking</ion-label>
    <span class="value" slot="end">{{ride.costs['parking'] | currency}}</span>
  </ion-item>
</ng-template>
