.pricing-details-popover {
  --background: black !important;
  color: white;

  .ride-pricing-popover {
    padding: 12px
  }

}

ride-detail {
  background: black;

  ion-content {
    --background: var(--ion-secondary-bg-color);
    --padding-bottom: 80px;
  }

  .ride-info {
    --ion-item-background: var(--ion-secondary-bg-color);
    padding-top: 12px;

    ion-item {

      --color: white;
      --border-color: #a8875e14;
      font-size: 1.6rem;
    }

    ion-label:not(.detail-title) {
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 4px !important;
      font-size: 1.6rem !important;
      color: var(--ion-theme-color-lighter) !important;
    }


    ion-icon {
      color: var(--ion-theme-color);
      margin-right: 8px;
      font-size: 18px;
    }

    .content {
      padding-left: 12px;
      display: flex;
      margin: 12px 0px;
      font-size: 1.6rem;


      .pax-count {
        margin-right: 8px;
        display: flex;
        align-items: center;
      }

      .spot-time {
        margin-top: 4px;
        margin-left: 28px;
        font-size: 1.4rem;
        color: var(--ion-theme-color);
      }

      .pax-info {
        margin-bottom: 8px;
        align-items: center;
        display: flex;
      }

      .pax-lug.secondary {
        color: var(--ion-theme-info-color);
      }

      .sub-content {
        display: flex;
        margin-right: 8px;
        align-items: center;
      }

      &.notes {
        display: inline-block;
        font-size: 1.6rem;

        .read-more {
          font-size: 1.2rem;
        }
      }

    }

    .routing-title {
      display: flex;

      .view-map-span {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 1.2rem;
        padding: 4px 12px;
        border-radius: 4px;

        ion-icon {
          color: black;
          font-size: 1.4rem;
        }
      }



    }



    .requirements-list {
      padding-inline-start: 12px;
      margin-block-start: 4px;
      flex-direction: column;
      list-style: none;

      ion-icon {
        position: relative;
        top: 4px;
      }

      li {
        margin-top: 4px;
      }

      .child-seat-types {
        margin-top: 6px;
        font-size: 1.2rem;
        color: var(--ion-theme-color);
      }
    }

    .rides_details {
      padding-left: 4px !important;
      margin-bottom: 4px;
    }


    .pricing-section {



      ion-list {
        width: 100%;

        ion-item {
          width: 100%;
          color: var(--ion-theme-info-color);
          font-size: 1.4rem;
          --border-width: 0px;
          height: 30px;


        }

        .ride-total {
          color: white !important;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 12px;
        }
      }

    }

  }

  ion-skeleton-text {
    --background-rgb: 255, 255, 255;
  }


  ion-footer {
    padding: 0px;
    background: black;
    border-top: 1px solid var(--ion-theme-color);
    min-height: 100px;

    ion-toolbar {
      --background: black;
    }

    ion-buttons {


      ion-button {
        height: 40px !important;
        display: flex;
        color: white;

        &.reject-btn {
          --border-radius: 50%;
          width: 40px;
          --background: red !important;
          margin-right: 12px;
        }

        &.accept-btn {
          flex-grow: 1;
          --background: var(--ion-theme-color) !important;
        }
      }
    }

    .settle-footer {
      min-height: 90px;

      padding: 12px;
      transition: all 0.7s ease;

      ion-item
      {
        height: 0px;
      }



      .settle-list {
        --background: black;
        --ion-item-background: black;
        --ion-item-color: white;
        max-height: 0px;
        height: 0px;
        transition: all 1s ease;

        &.active {
          max-height: 350px;
          height: 100%;
          margin-bottom: 12px;

          ion-item
          {
            height: auto;
          }
        }

        input {
          max-width: 80px;
          margin: 0px;
          font-size: 1.6rem;
          background-color: transparent;
          border: none;

          &:focus{
            outline: none;
        }
        }

        .value {
          width: 80px;
          font-size: 1.6rem;
          text-align: right;
          color: var(--ion-theme-info-color);
        }

        .increase-container {
          ion-icon {
            color: var(--ion-theme-color);
            font-size: 2rem;
            margin: 0px 4px;
          }
        }
      }

      .settle-text {
        color: var(--ion-theme-info-color);
        text-align: center;
        margin-bottom: 12px;
        font-size: 1.4rem;
      }

    }


    .offer-footer {

      padding: 12px;
      max-height: 110px;
      transition: all .5s ease;

      .offer-price {
        color: white;
        font-size: 2.5rem;
        margin: 0 auto;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 12px;


        ion-icon {
          font-size: 2.5rem;
          margin-left: 4px;
        }
      }


      .expand-icon {
        transition: all .5s ease;
      }



      &.active {
        max-height: 500px;

        .expand-icon {
          ms-transform: rotate(180deg);
          webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }

      .pricing-details-list {
        --ion-item-background: black !important;
        --ion-item-color: white !important;


        ion-list-header {
          min-height: 20px;
          margin-top: 20px;

          .list-title {
            margin-top: 12px;
            color: white;
            font-size: 1.6rem;
          }
        }


        .detail {
          --color: grey;
          font-size: 1.4rem;
          height: 30px;
        }
      }
    }

    .active-ride-footer {
      transition: 1s ease all;
      --padding-start: 0px;
      --padding-end: 0px;
      --padding-top: 0px;
      --padding-end: 0px;

      &.loading {
        --background: #7d7c7cc9;
      }



      .map-buttons-container {
        --padding-bottom: 0px;
        height: 100%;
        max-height: 100px;
        transition: 1s ease all;



        .absolute-container {
          position: absolute;
          bottom: 20px;
          width: 100%;
          z-index: 1000;
          display: flex;
          flex-direction: column;
          align-items: center;



          ion-buttons {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 12px;

            button {
              box-shadow: 0 5px 5px -5px black;
              color: white;
              font-size: 1.4rem;
              border-radius: 4px;
              border: 1px solid grey;

              &.call {
                margin-left: auto;

                width: 50px;
                height: 40px;
                background: var(--ion-theme-color);

                ion-icon {
                  font-size: 24px;
                }
              }

              &.update-status {
                position: relative;
                height: 40px;
                width: 100%;
                margin-left: 48px;
              }
            }

          }


        }


        #map {
          width: 100%;
          height: 400px;
          top: 0px;
          transition: transform 1s ease;


        }

        &.active {
          max-height: 400px;

        }
      }



    }

  }


  .counter {
    font-size: 2rem;
    height: 55px;

    flex-direction: column;
    align-items: center;
    position: relative;
    --background: transparent;
    width: 100%;

    .button {
      background-color: black;
      background-repeat: no-repeat;
      transition: background-position 2s ease;
      background-image: url('assets/imgs/counter-bg.png');
      background-size: 100% 100%;
      background-position-x: -175px;
      width: 100%;
      height: 100%;
      display: flex !important;
      align-items: center;
      justify-content: center;

      &.starting-wt-time {
        background-position-x: 0px !important;

        .start-wt-btn {
          font-size: 1.6rem;
        }
      }

      &:not(.starting-wt-time) {
        &.draw {
          overflow: hidden;
          position: relative;
        }

        &.draw::before,
        &.draw::after {
          content: '';
          box-sizing: border-box;
          position: absolute;
          border: 2px solid transparent;
          width: 0;
          height: 0;
        }

        &.draw::before {
          top: 0;
          left: 0;
          border-top-color: var(--ion-theme-color);
          border-right-color: var(--ion-theme-color);
          animation: border 4s infinite;
        }

        &.draw::after {
          bottom: 0;
          right: 0;
          animation: border 4s 2s infinite, borderColor 4s 2s infinite;
        }

        @keyframes border {
          0% {
            width: 0;
            height: 0;
          }

          25% {
            width: 100%;
            height: 0;
          }

          50% {
            width: 100%;
            height: 100%;
          }

          100% {
            width: 100%;
            height: 100%;
          }
        }

        @keyframes borderColor {
          0% {
            border-bottom-color: var(--ion-theme-color);
            border-left-color: var(--ion-theme-color);
          }

          50% {
            border-bottom-color: var(--ion-theme-color);
            border-left-color: var(--ion-theme-color);
          }

          51% {
            border-bottom-color: transparent;
            border-left-color: transparent;
          }

          100% {
            border-bottom-color: transparent;
            border-left-color: transparent;
          }
        }
      }



    }


    .subtitle {
      margin-top: 4px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1rem;
      color: var(--ion-theme-info-color);
    }
  }

  .expand-map-badget-container {
    width: 50px;
    height: 50px;
    left: 50%;
    position: absolute;
    bottom: 83px;
    transition: 1s ease all;
    display: flex;
    transform: translate3d(0, 0, 0) translateX(-50%);

    .expand-map-badget {

      height: 30px;
      border-radius: 20px 20px 0px 0px;
      width: 35px;
      display: flex;
      justify-content: center;
      opacity: 0.85;
      align-items: center;
      background-color: var(--ion-theme-color);
      color: white;
      border: 1px solid var(--ion-theme-color);
      border-bottom: none;

      ion-icon {
        font-size: 1.5rem;
        transition: 1s ease all;

        &.active {
          transform: rotate(180deg);
        }

      }


    }

    &.active {
      bottom: 283px;
    }
  }

  ion-fab-list
  {
    margin-bottom: 32px;
  }

  .fab-vertical-bottom {
    position: relative;
    /* bottom: -72px; */
    height: 0px;
    bottom: -32px;
    transition: 1s ease bottom;
    &.map-expanded
    {
      bottom: -332px;
    }
}


  ion-fab.options-menu {





    ion-fab-button {
      --color: white;
      --background: var(--ion-theme-color);
    }

    >ion-fab-button {
      height: 40px;
      width: 40px;
      --border-radius: 4px;
    }

    ion-fab-list {
      ion-fab-button {

        border: 1px solid black;
        width: 175px;
        border-radius: 4px;
        --border-radius: 4px;
        --ion-color-base: var(--ion-theme-color) !important;

        .text-container {
          width: 100%;
          text-align: left;
          display: flex;
          align-items: center;
          padding-left: 12px;
        }

        ion-icon {
          font-size: 2rem;
          margin-right: 12px;
        }
      }


    }

    &.active {
      width: 50%;
      left: 50%;
      transform: translateX(-50%);
      ion-fab-button {
        width: 100%;

        ion-icon
        {
          margin-right: 12px;
        }
      }
    }

  }


}
