<ion-app>
  <ion-split-pane contentId="content">
    <ion-menu contentId="content" *ngIf="loggedInUser" >
      <ion-content class="contentBg">
        <!--Profile-->
        <div class="driverCardBottom">
          <ion-card slot="fixed" class="driverCard fixed ion-no-padding ion-no-margin" color="dark">
            <ion-item lines="none" color="dark" class="driverProfileDetails ion-padding-vertical"
              (click)="profile()">
              <div class="driverProfileImage">
                <ion-avatar slot="start" class="profile">
                  <img src="{{storageUrl + loggedInUser.avatar_url}}">
                </ion-avatar>
                <div class="ion-margin-start">
                  <h5 class="textBold userName ion-no-margin">{{loggedInUser.first_name}} {{loggedInUser.last_name}}</h5>
                  <span>{{loggedInUser.partner.company_name}}</span>
                </div>
              </div>
            </ion-item>


          </ion-card>
        </div>
        <!--End of Profile-->

        <ion-list lines="none" class="ion-padding-top contentBg">
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" (click)="redirectTo(page)" *ngFor="let page of appPages" class="nav-item">
              <ion-icon slot="start" [name]="page.icon"></ion-icon>
              <ion-label>
                {{ page.title }}
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" (click)="logout()" lines="none" class="nav-item">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet [swipeGesture]="false" id="content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
