<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="dark">
      COVID-19 TERMS OF SERVICE
    </ion-title>
  </ion-toolbar>
  <!--<ion-toolbar>
    <ion-segment [(ngModel)]="walletPage" (ionChange)="segmentChanged($event)" color="dark">
      <ion-segment-button value="cash" color="dark">Cash</ion-segment-button>
      <ion-segment-button value="discount" color="dark">Discount </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class="content">
    <article>
    <p>An update in our Terms and Conditions and Privacy Policy for partners containing COVID-19 Sanitation Policies and
      Procedureshas been made effective <strong>May 1st, 2020.</strong> Please read these terms carefully, and lastly,
      accept or reject to abide by and be bound by all such Terms.</p>
    </article>
    <article>
      <h2><strong>VEHICLE SANITATION PROCEDURES</strong></h2>
      <ul>
        <li>Each vehicle’s interior and exterior are to be thoroughly sanitized before and after every service.</li>
        <li>The use of appropriate personal protective equipment (PPE) is required and used during the deep cleaning and
          sanitation of each vehicle.</li>
        <li>The use of disinfecting products that are <a
            href="https://www.epa.gov/pesticide-registration/list-n-disinfectants-use-against-sars-cov-2">Environmental
            Protection Agency (EPA)</a> registered disinfectants - all proven to eliminate 99% of bacteria and germs,
          including coronaviruses (e.g. SARS-CoV-2 and COVID-19).</li>
        <li>Cleaning, sanitizing and disinfecting protocols focused on thoroughly disinfecting all frequently touched
          areas including seats, armrests, headrests, vents, interior/exterior door handles, windows, control switches,
          seat belts and any other ‘touch-prone’ areas in a vehicle.</li>
        <li>The additional wipe down after the disinfecting procedures are finished is to be performed in order to
          remove any chemical residues and lingering odors.</li>
      </ul>
      <!---->
    </article>
    <article>
      <h2><strong>CHAUFFEUR HYGIENE PROCEDURES</strong></h2>
      <ul>
        <li>For personal hygiene, this starts with the policy of ‘continuous handwashing.’ In accordance with the <a
            href="https://www.osha.gov/SLTC/covid-19/controlprevention.html">OSHA</a> best practices, proper preventive
          hygiene for those in contact with the public includes:</li>
        <ul>
          <li>handwashing, 1) whenever possible, and 2) always washing hands between each ride and/or stop </li>
          <li>wearing of a mask or other covering of the nose and mouth when near passengers or in confined spaces with
            passengers</li>
          <li>never touch your eyes, nose, or mouth during a ride</li>
          <li>never touch a passenger for any reason</li>
        </ul>
        <li>Two hours prior to every service, chauffeurs will receive a notification to confirm that they have enacted
          all service and sanitation protocols, along with the confirmation of the chauffeur wearing a mask. This must
          be completed prior to departing for pickups.</li>
        <li>Chauffeurs who are exhibiting symptoms, or have tested positive for COVID-19, will be removed from future
          services and require a physician’s clearance in order to deliver services once more. </li>
      </ul>
      <!---->
    </article>
    <article>
      <h2><strong>SERVICE PROCEDURES AND CHANGES</strong></h2>
      <ul>
        <li>moveo’s standard policy for providing basic passenger consumables (e.g. snacks, mints, water, tissues, etc.)
          have been amended and limited to only tissues and bottles of water, both of which are now provided only in
          individual or one-use packaging.</li>
        <li>In addition to the consumables above, chauffeurs are to offer passengers (to accept at their discretion)
          disinfectant hand wipes and/or alcohol-based hand sanitizer, which are not in one-use individual packaging.
        </li>
        <li>In addition to pre-ride cleaning, sanitizing, and disinfecting procedures, all chauffeurs are to perform a
          wipe down of luggage handles, or any other passenger personal effects handled or stowed by their chauffeur
          before passenger handoff.</li>
        <li>The common chauffeur courtesy of greeting passengers with a handshake has been replaced with a simple bow, a
          tip of the hat and/or an informal greeting salute.&nbsp;</li>
        <li>Removal of all other passenger convenience items and frequently touched items such as reading material and
          cell phone chargers.</li>
        <li>moveo requires that all passengers, including the chauffeur, are seated as far apart as a vehicle
          configuration allows during the service. This is accomplished in part by significantly limiting the passenger
          count for all vehicles. Approximate passenger capacities for service during COVID-19 are approximately 50% of
          normal (this includes not allowing passengers to ride in the front seat) in order to equally provide all of
          our passengers with a safe and responsible level of service.&nbsp; </li>
      </ul>
      <!---->
    </article>
  </div>
</ion-content>
