<ion-header>
  <ion-toolbar hideBackButton="true" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Rides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">

  <!-- <div *ngIf="segmentModel == 'offers'">
    <h4 class="tab-title">RIDES OFFERS</h4>
    <rides-list [rides]="ridesOffers">
      <p class="empty-text">You don't have any ride offer yet.</p>
    </rides-list>
  </div>

  <div *ngIf="segmentModel == 'accepted'">
    <h4 class="tab-title">RIDES ACCEPTED</h4>
    <rides-list [rides]="ridesAccepted">
      <p class="empty-text">You don't have any ride accepted yet.</p>
    </rides-list>
  </div>
  <div *ngIf="segmentModel == 'done'">
    <h4 class="tab-title">RIDES COMPLETED</h4>
    <rides-list [rides]="ridesDone">
      <p class="empty-text">You don't have any ride completed yet.</p>
    </rides-list>
  </div> -->
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button  tab="offers" (click)="changeTab('offers')" >
        <ion-icon src="assets/custom-ion-icons/local_offer.svg" class="icon drvn-icon"></ion-icon>
        <ion-label class="letter-spacing">OFFERS</ion-label>
        <ion-badge>{{ridesOffers.length}}</ion-badge>
      </ion-tab-button>

      <ion-tab-button  tab="accepted" (click)="changeTab('accepted')">
        <ion-icon src="assets/custom-ion-icons/task_alt.svg" class="icon drvn-icon"></ion-icon>
        <ion-label class="letter-spacing">ACCEPTED</ion-label>
        <ion-badge>{{ridesAccepted.length + (rideActive ? 1 : 0)}}</ion-badge>
      </ion-tab-button>

      <ion-tab-button  tab="completed" (click)="changeTab('done')" >
        <ion-icon src="assets/custom-ion-icons/account_balance_wallet.svg" class="icon drvn-icon">
        </ion-icon>
        <ion-label class="letter-spacing">COMPLETED</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


</ion-content>
