page-my-rides {
  .header.theme_header {
    padding-bottom: 20px;

    .toolbar .title .toolbar-title p {
      margin-top: 2px;
    }
  }








  ion-tab-bar {
    --background: var(--ion-secondary-bg-color);

    ion-tab-button {
      &.active {
        --color: var(--ion-theme-color)
      }
    }
  }

}
