<ion-header>
  <ion-toolbar color="primary"> </ion-toolbar>
</ion-header>

<div  class="loginContent ion-padding">
  <ion-card  class="loginCard ion-no-margin ion-margin-top">
    <ion-card-header class="cardHeader">
      <ion-card-title class="headerText ion-text-center" >
        <ion-icon name="close-circle"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Your documents are not authorized yet. Please come back again!
    </ion-card-content>
  </ion-card>
</div>

<ion-footer>
  <ion-button expand="full" size="large" (click)="logout()">Logout</ion-button>
</ion-footer>
