<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <div class="dashboard-title">Welcome, <br>
        Mario</div>
    </ion-list-header>
    <ion-item class="ion-no-padding">
      <div class="widget next-ride ">
        <div class="title">Your next ride:</div>
        <div class="ride_id">#127181</div>
        <div class="date">Today, 05/05/21 at 11:45PM </div>
        <div class="type">Hourly - Executive Sedan</div>
        <ion-icon name="chevron-forward-outline" class="go-icon"></ion-icon>
      </div>
    </ion-item>
    <ion-item class="ion-no-padding">
      <div class="widget rides-board ">
        <div class="title">Your rides board:</div>
        <div class="container d-flex">
          <div class="count-info">
            <div class="center-container">
              <div  class="d-flex a-center  j-center value">
                <span>1</span>
                <ion-icon src="assets/custom-ion-icons/local_offer.svg" class="icon drvn-icon"></ion-icon>
              </div>
              <span class="text">
                Offers
              </span>
            </div>
          </div>


          <div class="count-info">
            <div class="center-container">
              <div  class="d-flex a-center j-center value">
                <span>3</span>
                <ion-icon src="assets/custom-ion-icons/task_alt.svg" class="icon drvn-icon"></ion-icon>
              </div>
              <span class="text">
                Accepted
              </span>

            </div>

          </div>
          <div class="count-info">
            <div class="center-container">
              <div class="d-flex a-center  j-center value">
                <span>15</span>
                <ion-icon src="assets/custom-ion-icons/account_balance_wallet.svg" class="icon drvn-icon"></ion-icon>
              </div>
              <span class="text">
                COMPLETED
              </span>
            </div>
          </div>
        </div>

        <ion-icon name="chevron-forward-outline" class="go-icon"></ion-icon>
      </div>
    </ion-item>
    <ion-item class="ion-no-padding">
      <div class="widget rating ">
        <div class="title">Your current rating:</div>
        <div class="ratings d-flex">
          <div class="rating-stars">
            <ion-badge>
              <span class="text">4</span>
              <ion-icon name="star"></ion-icon>
            </ion-badge>
            <span class="people">
              Vehicle
            </span>

          </div>
          <div class="rating-stars">
            <ion-badge>
              <span class="text">4</span>
              <ion-icon name="star"></ion-icon>
            </ion-badge>
            <span class="people">
              Chauffeur
            </span>

          </div>
        </div>

        <ion-icon name="chevron-forward-outline" class="go-icon"></ion-icon>
      </div>
    </ion-item>

  </ion-list>

</ion-content>
