/**
 * Ionic 5 Taxi Booking Complete App (https://store.enappd.com/product/taxi-booking-complete-dashboard)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */

app-home {


  ion-toolbar {
    height: 54px;
    display: flex;

    .title {
      letter-spacing: 1px;
      font-size: 1.55rem;
      text-align: center;

      .date-info {
        font-size: 1.2rem;
        color: black;
      }
    }
  }

  .welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }

  .fixed {
    position: fixed;
  }

  .nowrap {
    white-space: nowrap;
  }

  #map {
    width: 100%;
    height: 100%;
  }

  ion-content {
    font-size: 1.4rem;
    .widget-ride-info {
      position: absolute;
      left: 0px;
      width: 100%;
      height: auto;
      padding: 12px;
      z-index: 1000;

      .widget-content {
        padding: 0px 4px;
        background-color: #fffffff3;
        /* border: 1px solid #b08c6373; */
        height: 45px;
        z-index: 10000;
        display: flex;
        overflow: hidden;
        box-shadow: 0 5px 5px -5px;
        letter-spacing: 1px;

        &.active {
          height: auto;
        }

        .main-info {
          width: 100%;
          align-items: center;
          display: flex;
          font-weight: bold;
          height: 45px;
          padding: 0px 6px;
          .drvn-icon {
            height: 20px;
            width: 20px;
            margin-right: 8px;
            font-size: 20px;
            line-height: 25px;
            color:  var(--ion-theme-color);


          }

          .separator {
            margin: 0px 8px;
          }

          .show-icon {
            margin-left: auto;
            height: 18px;
          }
        }

        .expanded-info {
          padding-top: 8px;

          ion-icon {

            min-width: 28px;
            z-index: 99;
            font-size: 2rem;
          }

          .info-line {
            display: flex;
            font-weight: bold;
            margin-bottom: 8px;
            align-items: center;
          }

          .rides_details {
            margin-top: 12px;
            padding: 0px  !important;

            .item_box h6
            {
              color: black !important;
            }

          }


        }

      }

      .extra-nofications-bar {
        margin-top: 12px;

        .notification {
          background-color: #ffffffe8;
          box-shadow: 0 5px 5px -5px black;
          border-radius: 20px;
          height: 40px;
          width: 40px;
          overflow: hidden;
          display: flex;
          align-items: center;
          border: 1px solid orangered;
          white-space: nowrap;
          transition: width 1s ease;

          &:not(:first-child) {
            margin-left: 12px;
          }

          &.active {
            width: 100%;

          }

          &.weelchair {
            max-width: 115px;
          }

          ion-icon {
            height: 20px;
            min-width: 38px;
            display: flex;
            justify-content: center;
            color: orangered;

          }

        }
      }


    }


    .ride-actions {
      position: absolute;
      left: 0px;
      bottom: 24px;
      width: 100%;

      height: auto;
      padding: 12px;
      z-index: 1000;

      ion-buttons {
        display: flex;
        align-items: center;

        button {
          box-shadow: 0 5px 5px -5px black;
          color: white;
          font-size: 1.4rem;
          &.call {
            margin-left: auto;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background: var(--ion-theme-color);

            ion-icon
            {
              font-size: 24px;
            }
          }

          &.update-status {
            position: relative;
            left: 50%;
            height: 40px;
            min-width: 200px;
            transform: translateX(-50%);

          }
        }

      }


    }

    .ride-offer-actions {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      padding: 0px 12px;

      .offer-actions-content {
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        background-color: #ffffffb8;
        padding: 24px 12px;

        .title {
          font-size: 1.5rem;
          text-align: center;
          font-weight: bold;
          margin-bottom: 18px;
        }

        ion-buttons {
          display: flex;
          justify-content: space-between;

          button {
            height: 50px;
            width: 50%;

            &.reject
            {
              color: white;
              background: var( --ion-color-danger);
            }

            &:first-child
            {
              margin-right: 4px;
            }
            &:nth-child(2)
            {
              margin-left: 4px;
            }
          }
        }
      }
    }


    @-webkit-keyframes mymove {
      from {
        bottom: -200px;
      }

      to {
        bottom: 20px;
      }
    }

    @keyframes mymove {
      from {
        bottom: -200px;
      }

      to {
        bottom: 20px;
      }
    }

  }
}
