/**
 * Ionic 5 Taxi Booking Complete App (https://store.enappd.com/product/taxi-booking-complete-dashboard)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */

app-home {


  ion-content {
    ion-list {
      --ion-item-background: var(--ion-theme-background);
      --ion-item-color: white;
    }

    ion-list-header {
      margin: 32px 0px;
      font-size: 3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: white;
    }

    ion-item {
      --inner-padding-end: 0px;
    }

    .widget {
      padding: 12px 24px;
      width: 100%;
      margin: 6px 3px;
      height: 150px;
      position: relative;

      .title {
        font-size: 2.2rem;
        margin-bottom: 12px;
      }

      .go-icon {
        position: absolute;
        top: 50%;
        right: 20px;
        font-size: 3rem;
        transform: translateY(-50%);
        color: var(--ion-theme-color);
      }

    }

    .next-ride {

      background: linear-gradient(
        90deg
         , #252525 0%, #4a889c);


      &.active
      {
        background: linear-gradient(
        90deg
        , #000000a6 0%, #c79f0c);
      }


      .ride_id {
        margin-bottom: 4px;
        font-size: 1.4rem;
      }



      .date {
        font-size: 1.6rem;
        margin-bottom: 4px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .type {
        font-size: 1.4rem;
        color: #e8e8e8;
      }

      .go-icon {
        color: #79644b;
      }


    }

    .rating {
      background: linear-gradient(10deg, #525252 0%, var(--ion-secondary-bg-color));



      .rating-stars {
        margin: 8px 0px 20px;
        margin-right: 24px;
        align-items: center;
        text-align: center;

        ion-badge {
          padding: 0;
          background-color: transparent;
          text-align: center;
          display: flex;
    align-items: center;
          font-weight: 400;
          width: 88px;
          height: 38px;
          font-size: 2.2rem;
          line-height: 38px;

          ion-icon {
            font-size: 2.3rem;
            color: #35eb44;
            vertical-align: middle;
            position: relative;
            top: -2px;
          }

          .text {
            display: inline-block;
            margin: 0px 5px;
            font-size: 3.5rem;
            color: white;
          }
        }

        .people {
          margin: 0 10px;
          display: block;
          text-transform: uppercase;
          font-size: 1.2rem;
          letter-spacing: 1px;
          margin-top: 5px;
        }
      }

      .go-icon {
        color: #808080;
      }
    }

    .rides-board {
      background: linear-gradient(90deg, #252525 0%, var(--ion-theme-color));


      .container {
        display: flex;
        margin-top: 30px;

        .count-info {
          width: 33%;
          padding: 4px;
          margin-right: 12px;
          .center-container {
            display: flex;
            align-items: center;
            flex-direction: column;

            .value
            {
              font-size: 2.3rem;
              margin-bottom: 4px;

              ion-icon
              {
                margin-left: 8px;
              }
            }

            .text
            {
              text-transform: uppercase;
              font-size: 1.2rem;
              letter-spacing: 1px;
            }
          }
        }
      }

    }

    .gradient-border {
      --border-width: 3px;
      margin: 6px 3px;
      margin-top: 12px;
      color: white;

      &::after {
        position: absolute;
        content: "";
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        z-index: -1;
        width: calc(100% + var(--border-width) * 2);
        height: calc(100% + var(--border-width) * 2);
        background: linear-gradient(
          60deg,
          black,
          #585858,
          var(--ion-theme-color),
          #7a6803,

        );
        background-size: 300% 300%;
        background-position: 0 50%;
        animation: moveGradient 4s alternate infinite;
      }
    }

    @keyframes moveGradient {
      50% {
        background-position: 100% 50%;
      }
    }


    .faq
    {
      background-image: url('assets/imgs/faq3.png');
      background-size: 100% 100%;

      .title{
        font-size: 6rem;
        position: relative;
        top: 30px;
        letter-spacing: 10px;
      }

    }



  }
}
