<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <div class="dashboard-title">Welcome, <br>
        Mario</div>
    </ion-list-header>
    <ion-item class="ion-no-padding" (click)="goToNextRide()">
      <div class="widget next-ride " [ngClass]="{'gradient-border active': nextRide && nextRide.next_status_code}">
        <div class="title">
          <ng-container *ngIf="!loadingRide">
            Your {{nextRide && nextRide.next_status_code ? 'active' : 'current'}} ride:
          </ng-container>
          <ion-skeleton-text *ngIf="loadingRide" animated style="width: 150px; height: 20px;"></ion-skeleton-text>

        </div>
        <ng-container  *ngIf="!loadingRide && nextRide">
          <div class="ride_id">#{{nextRide.ride_id}}</div>
          <div class="date">   {{nextRide.pu_datetime | niceDateFormatPipe }}</div>
          <div class="type">{{nextRide.service_type}} - {{nextRide.vehicle_type}}</div>
        </ng-container>
        <ng-container  *ngIf="loadingRide">
          <div class="ride_id">  <ion-skeleton-text *ngIf="loadingRide" animated style="width: 50px"></ion-skeleton-text></div>
          <div class="date">     <ion-skeleton-text *ngIf="loadingRide" animated style="width: 150px"></ion-skeleton-text></div>
          <div class="type">  <ion-skeleton-text *ngIf="loadingRide" animated style="width: 80px"></ion-skeleton-text></div>
        </ng-container>

        <ion-icon name="chevron-forward-outline" class="go-icon"></ion-icon>
      </div>
    </ion-item>
    <ion-item class="ion-no-padding"  >
      <div class="widget rides-board " >
        <div class="title">Your rides board:</div>
        <div class="container d-flex" >
          <div class="count-info" (click)="goToRides('offers')"  *ngIf="rides">
            <div class="center-container">
              <div  class="d-flex a-center  j-center value">
                <span>{{rides['offers'].length}}</span>
                <ion-icon src="assets/custom-ion-icons/local_offer.svg" class="icon drvn-icon"></ion-icon>
              </div>
              <span class="text">
                Offers
              </span>
            </div>

          </div>
          <ion-skeleton-text *ngIf="!rides" animated style="width: 33%; height: 50px;     margin-right: 12px;"></ion-skeleton-text>


          <div class="count-info" (click)="goToRides('accepted')" *ngIf="rides">
            <div class="center-container" >
              <div  class="d-flex a-center j-center value">
                <span>{{rides['accepted'].length}}</span>
                <ion-icon src="assets/custom-ion-icons/task_alt.svg" class="icon drvn-icon"></ion-icon>
              </div>
              <span class="text">
                Accepted
              </span>

            </div>


          </div>
          <ion-skeleton-text *ngIf="!rides" animated style="width: 33%; height: 50px;     margin-right: 12px;"></ion-skeleton-text>
          <div class="count-info" (click)="goToRides('completed')"  *ngIf="rides">
            <div class="center-container">
              <div class="d-flex a-center  j-center value">
                <span>{{rides['done'].length}}</span>
                <ion-icon src="assets/custom-ion-icons/account_balance_wallet.svg" class="icon drvn-icon"></ion-icon>
              </div>
              <span class="text">
                COMPLETED
              </span>
            </div>

          </div>
          <ion-skeleton-text *ngIf="!rides" animated style="width: 33%; height: 50px;     margin-right: 12px;"></ion-skeleton-text>
        </div>


      </div>
    </ion-item>
    <ion-item class="ion-no-padding">
      <div class="widget rating ">
        <div class="title">Your current rating:</div>
        <div class="ratings d-flex">
          <div class="rating-stars">
            <ion-badge>
              <span class="text">4.0</span>
              <ion-icon name="star"></ion-icon>
            </ion-badge>
            <span class="people">
              Chauffeur
            </span>

          </div>
          <div class="rating-stars">
            <ion-badge>
              <span class="text">4.3</span>
              <ion-icon name="star"></ion-icon>
            </ion-badge>
            <span class="people">
              Vehicle
            </span>

          </div>
        </div>

        <ion-icon name="chevron-forward-outline" class="go-icon"></ion-icon>
      </div>
    </ion-item>

  </ion-list>

</ion-content>
