<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-uppercase class="ion-text-center">
      <span class="title">
        <!-- <ion-icon class="material-icons">fiber_manual_record</ion-icon>-->

        <div class="j-center">
          <ng-container *ngIf="ride">
            {{viewType == 'offer' ? 'RIDE OFFER' : viewType == 'info' ? 'RIDE INFO' : !isDone ?  'CURRENT RIDE' : 'RIDE COMPLETED'}}
            #{{ride.ride_id}}
          </ng-container>
          <ng-container *ngIf="!ride">
            HOME
          </ng-container>

        </div>
        <div class="date-info j-center" *ngIf="ride">
          {{ride.service_type | uppercase}}
          <span class="separator">|</span>
          {{ride.pu_date}} at {{ride.pu_time}}
        </div>
      </span>
    </ion-title>


  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">

  <div class="widget-ride-info" *ngIf="ride">
    <ion-row class="widget-content d-flex" [ngClass]="infoExpanded ? 'active' : ''">

      <div class="main-info">
        <ng-container *ngIf="viewType != 'offer'">
          <div>
            {{ride.passenger_name}}
          </div>
          <span class="separator">|</span>
        </ng-container>


        <ion-icon name="people" class="icon drvn-icon"></ion-icon>


        {{ride.passenger_count}}
        <span class="separator">|</span>
        <ion-icon src="assets\custom-ion-icons/luggage.svg" class="icon drvn-icon" color="primary"></ion-icon>
        {{ride.luggage_count}}
        <ion-icon class="show-icon" name="{{!infoExpanded ? 'caret-down-outline' : 'caret-up-outline'}}"
          (click)="infoExpanded = !infoExpanded"></ion-icon>




      </div>
      <div class="ride-info expanded-info">
        <div class="info-line">
          <ion-icon src="assets/custom-ion-icons/directions_car.svg"></ion-icon>
          <span>
            {{ride.vehicle_type}}
          </span>

        </div>
        <div class="info-line">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>Meet inside terminal </span>
        </div>
        <div class="info-line" *ngIf="ride.spot_time">
          <ion-icon name="time-outline"></ion-icon> Spot time:
          <span>{{ride.spot_time}}
          </span>
        </div>
        <div class="rides_details">
          <div class="d-flex item_box">
            <ion-icon name="location"></ion-icon>
            <h6>{{ride.pu_location}}</h6>
          </div>
          <div class="d-flex item_box">
            <ion-icon name="navigate"></ion-icon>
            <h6>{{ride.do_location}}</h6>
          </div>
        </div>

      </div>



    </ion-row>
    <ion-row class="extra-nofications-bar">
      <div class="notification" *ngIf="ride.child_seats.length" (click)="openChildSeatInfo($event)">
        <ng-container>
          <ion-icon src="assets\custom-ion-icons/care.svg"></ion-icon>

        </ng-container>

      </div>
      <div class="notification weelchair" *ngIf="ride.handicap == 1"
        (click)="$event.target.parentElement.classList.toggle('active')">
        <ng-container>
          <ion-icon src="assets\custom-ion-icons/accessible.svg"></ion-icon>
          Weelchair requested
        </ng-container>
      </div>
    </ion-row>
  </div>
  <app-ride-map [actualRide]="ride"></app-ride-map>
  <div class="ride-actions">
    <ion-buttons>
      <button ion-button class="update-status"
      (click)="openSettle()">
     SET RIDE
    </button>
      <ng-container *ngIf="ride && viewType == 'actual' && !isDone">
        <button ion-button class="update-status" [style.background]="ride.next_status_button_color"
          (click)="changeStatus()">
          {{ride.next_status_button_text}}
        </button>
        <button ion-button class="call" (click)="someThingLikeLogOut()">
          <ion-icon name="call"></ion-icon>
        </button>
      </ng-container>

    </ion-buttons>
  </div>
  <div class="ride-offer-actions" *ngIf="ride && viewType == 'offer'">
    <div class="offer-actions-content">
      <div class="title">Please review ride information and let us know if you want to accept or reject this
        ride.</div>
      <div class="offer-buttons">
        <ion-buttons>

          <button ion-button class="reject" (click)="changeStatus()">
            REJECT
          </button>
          <button ion-button class="accept" [style.background]="ride.next_status_button_color" (click)="openRating()">
            ACCEPT
          </button>
        </ion-buttons>
      </div>
    </div>
  </div>
</ion-content>
