<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Support Center</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header class="contact-title">How can we help?</ion-list-header>
    <ion-item (click)="goToFaq()">
      <ion-label>
        <ion-icon name="help-circle-outline"></ion-icon>
        <div>
          <div class="title">
           FAQ
          </div>
          <div class="subtitle">You might find what you're looking for.
          </div>
        </div>

        <ion-icon name="chevron-forward-outline" class="go-icon"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-item (click)="goToSendEmail()">
      <ion-label>
        <ion-icon name="mail"></ion-icon>
        <div>
          <div class="title">
            Send us a message
          </div>
          <div class="subtitle">Send us the details and we'll get back to you.
          </div>
        </div>
        <ion-icon name="chevron-forward-outline" class="go-icon"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-item (click)="callSuport()">
      <ion-label>
        <ion-icon name="call"></ion-icon>
        <div>
          <div class="title">
            Give us a call
          </div>
          <div class="subtitle">Get in touch and let us know how we can help.
          </div>
        </div>
        <ion-icon name="chevron-forward-outline" class="go-icon"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>
  <div class="available-text">
    <img class="logo" src="assets/logos/drvn-logo.png">

  </div>
</ion-content>
