<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header class="contact-title">How do you want to contact us?</ion-list-header>
    <ion-item>
      <ion-label>
        <ion-icon name="mail"></ion-icon>
        Send us an email
        <ion-icon name="caret-forward"  slot="end" class="go-icon"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="call"></ion-icon>
        Call us
        <ion-icon name="caret-forward" slot="end" class="go-icon"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>
  <div class="available-text">
    Moveo is available to assist you 24/7/365
  </div>
</ion-content>
