app-mobile-validation {



  ion-card {
    --background: var(--ion-theme-background);
    --color: white;
    padding: 24px 12px;

    h3 {
      margin-bottom: 12px;
    }

    h5 {
      margin-bottom: 36px;
      font-size: 1.6rem;
    }
  }

  .otp-input {
    width: 50px !important;
    height: 50px !important;
    color: black;
  }

  .inputField {
    border: 1px solid #eaeaee;
    border-radius: 10px;
    font-size: 14px;
    margin: 15px 0px;
    padding: 10px !important;

    .ion-intl-tel-input-number
    {
      margin-left: 12px;
    }
  }

  .success-text {
    color: var(--ion-theme-color)
  }




}
