

.ride-rating-modal {
  margin-top: 0px;
  //  padding: 30% 12px;
}

app-rating-dialog {
  .close-icon
  {
    font-size: 3rem;
  }
  ion-content {
    padding-top: 48px;
  }
  ion-header ion-toolbar {
    color: black;

  }

  ion-rating {
    margin: 0 auto;
    --star-color: white;
    padding: 24px;
    --star-color-filled: green;
  }

  .send-btn
  {
    letter-spacing: 1px;
    margin: 0 auto;
  }
}
