

:host
{
  background: black;

  ion-content
  {
    --background:  var(--ion-secondary-bg-color);
  }
  .ride-info
  {
    --ion-item-background: var(--ion-secondary-bg-color);
      ion-item
      {

        --color: white;
        --border-color: #a8875e14;
        font-size: 1.6rem;
      }

      ion-label
      {
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 12px;
        color: var(--ion-theme-color-lighter)
      }


      ion-icon
      {
        color: var(--ion-theme-color);
        margin-right: 8px;
      }

      .content
      {
        padding-left: 12px;
        display: flex;
        align-items: center;
        margin-bottom: 24px;



        .pax-count
        {
          margin-right: 8px;
          display: flex;
          align-items: center;
        }

        .sub-content
        {
          display: flex;
          margin-right: 8px;
          align-items: center;
        }
      }
      .requirements-list
      {
        padding-inline-start: 12px;
         margin-block-start: 4px;
         flex-direction: column;
         list-style: none;

         li
         {
           display: flex;
           align-items: center;
           margin-top: 4px;
         }
      }

      .rides_details
      {
        padding-left: 4px;
      }
      .item_box {
        align-items: flex-start;
        padding: 8px 0;

        ion-icon {
          color: var(--ion-theme-color);
          margin-right: 0px;
          font-size: 1.5rem;
          min-width: 28px;
          position: relative;
          z-index: 99;
          top: 4px;

          &.end {
            color: var(--ion-theme-info-color);
            min-width: 18px;

          }
        }

        h6 {
          margin: 0;
          color: white;
          font-size: 1.3rem;
          font-weight: 400;
          letter-spacing: .5px;
        }

        h2 {
          margin: 0;
          color: white;
          font-size: 1.3rem;
          font-weight: 400;
          letter-spacing: .5px;

          span {
            display: block;
            padding-top: 3px;
            color: var(--ion-theme-info-color);
            ;
            font-weight: 500;
            font-size: 1.35rem;
            letter-spacing: 0px;
          }
        }

        margin: 0 !important;
        position: relative;

        &::after,
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 13px;
          height: 50%;
          width: 1px;
          border-left: 1px dotted var(--ion-theme-info-color);
          ;
          //                        border-width: 3px;
          background: var(--ion-theme-info-color);
          ;
          opacity: .4;


        }

        &::after {
          top: unset;
          bottom: 0;
        }

        &:first-child {
          &::before {
            display: none;
          }
        }

        &:last-child {
          &::after {
            display: none;
          }
        }

      }
  }

  ion-footer
  {
    background: var(--ion-secondary-bg-color);
    padding: 12px;
    border-top: 1px solid var(--ion-theme-color);
    ion-buttons
    {

      margin: 12px;
      ion-button
      {
        height: 40px;
        display: flex;
        color: white;

        &.reject-btn
        {
          --border-radius: 50%;
          width: 40px ;
          --background: red;
          margin-right: 12px;
        }
        &.accept-btn
        {
          flex-grow: 1;
          --background: var(--ion-theme-color);
        }
      }
    }

  }
}
