<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">RIDE OFFER #135764</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list class="ride-info" lines="full">
    <ion-item>
      <ion-label position="stacked">
        Pick-up Date
      </ion-label>
      <div class="content">
        <ion-icon name="calendar"></ion-icon>
        11/03/2021 at 11:30
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Pax Count / Luggage Count
      </ion-label>
      <div class="content">
        <div class="sub-content">
          <ion-icon name="people" class="icon drvn-icon"></ion-icon> 3 Passengers
        </div>
        <div  class="sub-content">
          <ion-icon src="assets\custom-ion-icons/luggage.svg" class="icon drvn-icon" color="primary"></ion-icon> 4
          Baggages
        </div>

      </div>

    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Service Type / Vehicle Type
      </ion-label>
      <div class="content">
        <div class="sub-content">
          <ion-icon name="information-circle"></ion-icon>
          Hourly
        </div>
        <div class="sub-content">
          <ion-icon name="car"></ion-icon>
          Executive Sedan
        </div>
      </div>

    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Special Requirements
      </ion-label>
      <ul class="requirements-list content">
        <li>
          <ion-icon src="assets\custom-ion-icons/accessible.svg"></ion-icon> Weelchair Required
        </li>
        <li>
          <ion-icon src="assets\custom-ion-icons/care.svg"></ion-icon> Child seat Required
        </li>

      </ul>


    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Routing Information
      </ion-label>
      <div class="rides_details">
        <div class="d-flex item_box">
          <ion-icon name="location"></ion-icon>
          <h6>1200 anastasia avenue</h6>
        </div>
        <div class="d-flex item_box">
          <ion-icon name="navigate"></ion-icon>
          <h6>500 coral way</h6>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Notes
      </ion-label>
      <div class="content">
        Driver will be at time Driver will be at time Driver will be at time Driver will be at time Driver will be at
        time Driver will be at time Driver will be at time Driver will be at time Driver will be at time Driver will be
        at time
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-buttons>
    <ion-button fill="solid" class="reject-btn">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-button fill="solid" class="accept-btn">
      ACCEPT RIDE
    </ion-button>
  </ion-buttons>

</ion-footer>
