<ion-header class="header" >
  <ion-toolbar hideBackButton="true" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      My Reviews

    </ion-title>
  </ion-toolbar>
  <div class=" current-rating">
    <h3 class="ion-text-uppercase">Your current rating</h3>
    <div class="subtitle">
      {{ paxReviewsTotal }} people rated
    </div>
    <div class="d-flex">
      <p class="d-flex column a-center">
        <ion-badge>
          <span class="text">{{ score }}</span>
          <ion-icon name="star"></ion-icon>
        </ion-badge>
        <span class="type">
          CHAUFFEUR
        </span>
      </p>
      <p class="d-flex column  a-center">
        <ion-badge>
          <span class="text">{{ vehicleScore }}</span>
          <ion-icon name="star"></ion-icon>
        </ion-badge>
        <span class="type">
          VEHICLE
        </span>
      </p>
    </div>


  </div>
</ion-header>

<ion-content class="bg-color">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list class="list" lines="none">


    <ion-item *ngFor="let review of reviews">
      <div class="d-flex column container w-100-p">
        <div class="item_header d-flex">
          <!-- <div class="img_box center_img">
          <img src="assets/imgs/img_passenger.png" class="crop_img">
          </div> -->
          <div class="profile_details">
            <div class="d-flex"><h3>{{ review.ride.passenger_last_name }}, {{ review.ride.passenger_first_name }}</h3>
                <div class="pax-rating-container">
                  <div class="car-rating rating">
                    <ion-icon name="car"></ion-icon>
                    <span class="value">{{ review.vehicle_rating.toFixed(1) }}</span>
                    <ion-icon name="star" class="star"></ion-icon>
                  </div>
                  <div class="car-rating rating">
                    <ion-icon name="person"></ion-icon>
                    <span class="value">{{ review.driver_rating.toFixed(1) }}</span>
                    <ion-icon name="star"  class="star"></ion-icon>
                  </div>

                </div>
            </div>
            <h4 class="d-flex">Ride # {{review.ride.ride_number}} - {{ review.created_at | date:'medium' }}</h4>
          </div>
        </div>
        <p class="comment">{{ review.comments }}</p>
      </div>
    </ion-item>

  </ion-list>
  <ion-title *ngIf="!reviews.length" class="empty-text">
    <div text-center>
      <span>There are no reviews</span>
    </div>
  </ion-title>
</ion-content>
