<!-- <ion-header>
  <ion-toolbar>
    <ion-title>slides</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <ion-slides pager="true" [options]="slideOpts" (ionSlideDidChange)="sliderChanges($event)">
    <ion-slide>
      <div>
        <img src="assets/slides7.png">
        <div>
          <h1 class="textBold">Accept a Job</h1>
          <span class="textsliderfont">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab sed iusto laborum
            exercitationem.</span>
        </div>
        <div class="ion-padding-vertical ion-padding-horizontal ion-margin-horizontal ion-margin-vertical">
          <ion-button fill="clear" class="textSmall lightTextColor" (click)="skip()">skip</ion-button>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="assets/icon_real_time.png" alt="" class="liveTrackingImg">
        <div class="ion-padding-top">
          <h1 class="textBold">Tracking RealTime</h1>
          <span class="textsliderfont">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab sed iusto laborum
            exercitationem.</span>
        </div>
        <div class="ion-padding-vertical ion-padding-horizontal ion-margin-horizontal ion-margin-vertical "    >
          <ion-button fill="clear" class="textSmall lightTextColor" (click)="skip()">skip</ion-button>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <img src="assets/slides3.png" alt="" class="liveTrackingImg">
        <div class="ion-padding-top">
          <h1 class="textBold">Earn Money</h1>
          <span class="textsliderfont">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab sed iusto laborum
            exercitationem.</span>

        </div>
        <div class="ion-padding-vertical ion-padding-horizontal ion-margin-horizontal ion-margin-vertical"   >
          <ion-button color="primary" class="btnSubmit textBold ion-text-uppercase ion-padding-horizontal "  
            (click)="locationPage()">Get Started</ion-button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>